<div class="modelTitle"></div>
<div class="children">
    <div class="ports left"></div>
    <div class="ports center"></div>
    <div class="ports right"></div>
</div>
<div class='connEndPoint bottom' data-id='<%= pid %>' data-or='S20'></div>
<div class='connEndPoint top' data-id='<%= pid %>' data-or='N20'></div>
<div class='myConnRect bottom startConn' data-id='<%= pid %>'></div>
<div class='myConnRect top startConn' data-id='<%= pid %>'></div>
<div id='connLeft' class='connEndPoint left' data-id='<%= pid %>' data-or='W20'></div>
<div id='connRight' class='connEndPoint right' data-id='<%= pid %>' data-or='E20'></div>
