/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
div.part .circle-decorator {
  position: relative;
  width: 11px;
  height: 11px; }
  div.part .circle-decorator svg {
    top: -3px;
    position: relative; }
  div.part .circle-decorator .name {
    white-space: nowrap;
    font-size: 11px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative; }
  div.part .circle-decorator .circle-shadow {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 11px;
    height: 11px;
    border-radius: 11px;
    z-index: -1; }
div.part .circle-decorator .name {
  position: absolute;
  top: 10px; }
