/**
 * @author pmeijer / https://github.com/pmeijer
 */

.connected-users-widget {
   padding-right: 10px;
   padding-left: 10px;
  .user-badge {
    height: 18px;
    width: 16px;
    text-align: center;
    font-weight: bolder;
    color: white;
  }
}