<div  id='<%= pid %>' class='objectContainer'>
    <div class='paper'></div>
    <div class='abovePaper'>
        <div class='core'>
            <span class='title' title='<%= name %>'><%= name %></span>
            <div class='topConnectionPoint'></div>
            <!--<div class='pointerSources'>
                <div class='pointer-source pointer-source-ref'></div>
                <div class='pointer-source pointer-source-source'></div>
                <div class='pointer-source pointer-source-target'></div>
            </div>
            <div class='pointerTargets'>
                <div class='pointer-target pointer-target-ref'></div>
                <div class='pointer-target pointer-target-source'></div>
                <div class='pointer-target pointer-target-target'></div>
            </div>
            -->
        </div>
        <div class='bottomControls'>
            <div class='expandButton' title="Expand"></div>
            <div class='collapseButton' title="Collapse" style='display: none;'></div>
            <div class='bottomConnectionPoint'></div>
        </div>
        <div class='children' style='display: none;'></div>
    </div>
</div>