<div  id='<%= pid %>' class='objectContainer'>
    <div class='paper'></div>
    <div class='abovePaper'>
        <div class='core'>
            <span class='title' title='<%= name %>'><%= name %></span>
            <div class='topConnectionPoint'></div>
        </div>
        <div class='bottomControls'>
            <div class='expandButton' title="Expand"></div>
            <div class='collapseButton' title="Collapse" style='display: none;'></div>
            <div class='bottomConnectionPoint'></div>
        </div>
        <div class='children' style='display: none;'></div>
    </div>
</div>