ul.gme-navigator {
  font-size: 130%;
  padding: 0;
  list-style-type: none;
  color: #fff; }
  ul.gme-navigator > li {
    display: inline-block;
    padding: .75ex 1em; }
  ul.gme-navigator > li:hover {
    background-color: #00235B;
    cursor: pointer; }
  ul.gme-navigator li.selected {
    display: block; }
  ul.gme-navigator ul.gme-navigator {
    display: inline-block; }
