ul.gme-navigator {

  font-size: 130%;

  padding: 0;
  list-style-type: none;
  color: #fff;

  > li {
    display: inline-block;
    padding: .75ex 1em;
  }

  > li:hover {
    background-color: #00235B;
    cursor: pointer;
  }

  li.selected {
    display: block;
  }

  ul.gme-navigator {
    display: inline-block;
  }

}

