<ul class="gme-navigator">

    <script type="text/ng-template"  id="navigator_item_renderer">
        <span class="item-name">{{item.name}}</span>
        <ul class="gme-navigator" ng-if="item.items">
            <li ng-include=" item.templateId || 'navigator_item_renderer' " data-ng-repeat="item in item.items" data-ng-class="{ 'selected': item.isSelected }">

            </li>
        </ul>
    </script>

    <script type="text/ng-template"  id="branch-selector-template">
        <span class="item-name">Branch {{item.name}}</span>
    </script>

     <li ng-include="'navigator_item_renderer'" data-ng-repeat="item in items" data-ng-class="{ 'selected': item.isSelected }">
     </li>
</ul>