.model.modelWithPorts {
    min-height: 65px;
    min-width: 65px;
    float: left;
    border: 2px solid #666666;
    background-color: #e9e9e9;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
    text-align: center;
    padding-bottom: 3px;
}

.model.modelWithPorts div.modelTitle {
    color: #fff;
    text-shadow: #000 0 1px;
    white-space: nowrap;
    padding: 1px 5px 0px 5px;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -webkit-gradient(linear, left top, right top,color-stop(0, rgb(0,0,0)),color-stop(0.50, rgb(79,79,79)),color-stop(1, rgb(21,21,21)));
    background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    border-bottom: 1px solid #ddd;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -ms-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}

.model.modelWithPorts.selected {
    border: 2px solid #52A8EC;
    background-color: #DBEAFC;
}

.model.modelWithPorts.connection-end-state-hover {
    border-color: #F7B400;
    background-color: #F7B478;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 120, 0, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 120, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 120, 0, 0.6);
}

/*PORTS children*/

.model .children {
    font-size: 10px;
    width: 100%;
}

.model .children .ports {
    display:  inline;
    float: left;
    min-height: 1px;
}

.ports.left {
    text-align: left;
    left: -7px;
    position: relative;
}

.ports.right {
    text-align: right;
    right: -7px;
    position: relative;
}

.ports.center {
    min-width: 15px;
    height: 1px;
}

.modelWithPorts .connEndPoint.top,
.modelWithPorts .connEndPoint.bottom {
    height: 0;
    background-color: #ff0000;
    position: absolute;
    left: 15px;
    right: 15px;
    display: inline-block;
}

.modelWithPorts .connEndPoint.bottom {
    bottom: -2px;
}

.modelWithPorts .connEndPoint.top {
    top: -2px;
}

.modelWithPorts .connEndPoint.left,
.modelWithPorts .connEndPoint.right {
    width: 0;
    background-color: #ff0000;
    position: absolute;
    top: 15px;
    bottom: 15px;
    display: inline-block;
}

.modelWithPorts .connEndPoint.left {
    left: -2px;
}

.modelWithPorts .connEndPoint.right {
    right: -2px;
}

.model.modelWithPorts .myConnRect {
    background-color: #FEFEFE;
    height: 12px;
    width: 12px;
    position: absolute;
    cursor: pointer;
    border: 1px solid #0000FF;
    display: none;
    margin-left: -6px;
    left: 50%;
}

.modelWithPorts .myConnRect.bottom {
    bottom: -6px;
}

.modelWithPorts .myConnRect.top {
    top: -6px;
}

.model.modelWithPorts:hover .myConnRect {
    display: block;
}

.model.modelWithPorts .myConnRect:hover {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/********** PARTBROWSER DECORATOR STYLE ***************/
.part .modelWithPorts {
    min-height: 65px;
    min-width: 65px;
    float: left;
    border: 2px solid #666666;
    background-color: #e9e9e9;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
    text-align: center;
    padding-bottom: 3px;
}

.part .modelWithPorts div.modelTitle {
    color: #fff;
    text-shadow: #000 0 1px;
    white-space: nowrap;
    padding: 1px 5px 0px 5px;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -webkit-gradient(linear, left top, right top,color-stop(0, rgb(0,0,0)),color-stop(0.50, rgb(79,79,79)),color-stop(1, rgb(21,21,21)));
    background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    border-bottom: 1px solid #ddd;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -ms-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}