.uml-state-machine {
  position: relative; }
  .uml-state-machine .initial-state .icon {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    border: 2px solid black;
    box-sizing: border-box; }
  .uml-state-machine .initial-state .name {
    white-space: nowrap;
    position: absolute;
    margin-left: 0px;
    left: 50%; }
  .uml-state-machine .initial-state .connector {
    background-color: #fefefe;
    height: 10px;
    width: 10px;
    position: absolute;
    cursor: pointer;
    border: 1px solid blue;
    z-index: 10; }
    .uml-state-machine .initial-state .connector:hover {
      border-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
    .uml-state-machine .initial-state .connector.left {
      top: 4px;
      left: -2px; }
    .uml-state-machine .initial-state .connector.right {
      top: 4px;
      left: 22px; }
    .uml-state-machine .initial-state .connector.top {
      top: -8px;
      margin-left: -6px;
      left: 50%; }
    .uml-state-machine .initial-state .connector.bottom {
      top: 16px;
      margin-left: -6px;
      left: 50%; }
  .uml-state-machine .end-state .icon {
    background-color: white;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 32px;
    box-sizing: border-box; }
    .uml-state-machine .end-state .icon div.inner {
      background-color: black;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      position: relative;
      top: 50%;
      left: 50%;
      margin-left: -10px;
      margin-top: -10px;
      border: 2px solid black;
      box-sizing: border-box; }
  .uml-state-machine .end-state .name {
    white-space: nowrap;
    position: absolute;
    margin-left: 0px;
    left: 50%; }
  .uml-state-machine .end-state .connector {
    background-color: #fefefe;
    height: 10px;
    width: 10px;
    position: absolute;
    cursor: pointer;
    border: 1px solid blue;
    z-index: 10; }
    .uml-state-machine .end-state .connector:hover {
      border-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
    .uml-state-machine .end-state .connector.left {
      top: 9px;
      left: 0; }
    .uml-state-machine .end-state .connector.right {
      top: 9px;
      left: 30px; }
    .uml-state-machine .end-state .connector.top {
      top: -6px;
      margin-left: -6px;
      left: 50%; }
    .uml-state-machine .end-state .connector.bottom {
      top: 24px;
      margin-left: -6px;
      left: 50%; }
  .uml-state-machine .state {
    min-width: 120px;
    max-width: 120px;
    height: 55px;
    background-color: #fcfcfc;
    border: 1px solid black;
    border-radius: 13px; }
    .uml-state-machine .state .name {
      white-space: nowrap;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid #000000;
      height: 16px;
      line-height: 16px;
      padding-left: 5px;
      padding-right: 5px; }
  .uml-state-machine .connector {
    background-color: #fefefe;
    height: 10px;
    width: 10px;
    position: absolute;
    cursor: pointer;
    border: 1px solid blue;
    z-index: 10;
    margin-left: -6px;
    left: 50%; }
    .uml-state-machine .connector:hover {
      border-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
    .uml-state-machine .connector.top {
      top: -6px; }
    .uml-state-machine .connector.bottom {
      bottom: -6px; }
  .uml-state-machine .diagram {
    min-width: 120px;
    max-width: 120px;
    height: 50px;
    background-color: #fcfcfc;
    border: 1px solid black;
    border-radius: 13px;
    text-align: center; }
  .uml-state-machine .transition {
    width: 120px;
    height: 55px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0); }
    .uml-state-machine .transition .svgContainer {
      width: 120px;
      height: 40px; }
    .uml-state-machine .transition .name {
      white-space: nowrap;
      font-size: 12px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 16px;
      line-height: 16px;
      padding-left: 5px;
      padding-right: 5px; }
  .uml-state-machine.default {
    min-width: 65px;
    height: 40px;
    border: 1px solid #000000;
    padding: 3px;
    background-color: #FCFCFC;
    text-align: center;
    line-height: 40px; }
    .uml-state-machine.default .name > input {
      font-size: 12px !important;
      line-height: 16px !important;
      height: 16px !important; }

.selected .uml-state-machine .initial-state .icon {
  border-color: #52a8ec; }
.selected .uml-state-machine .end-state .icon {
  border-color: #52a8ec; }
  .selected .uml-state-machine .end-state .icon div.inner {
    border-color: #52a8ec; }
.selected .uml-state-machine .state {
  background-color: #dbeafc;
  border-color: #52a8ec; }
.selected .uml-state-machine .diagram {
  background-color: #dbeafc;
  border-color: #52a8ec; }
.selected .uml-state-machine .transition {
  background-color: #dbeafc;
  border-color: #52a8ec; }
.selected .uml-state-machine.default {
  background-color: #dbeafc;
  border-color: #52a8ec; }
