<div class="ui-layout-center"></div>
<div class="ui-layout-east side-panel"></div>
<div class="ui-layout-west side-panel"></div>
<div class="ui-layout-north navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="project-info inline"></div>
        <div class="pull-right inline">
            <div class="navbar-text">
                <div class="version">version: pre-alpha...</div>
            </div>
        </div>
    </div>
</div>
<div class="ui-layout-south navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner"></div>
</div>
