<div class="meta-decorator">
    <div class="name"></div>
    <div class="attributes-title">ATTRIBUTES
        <div class="add-new-attribute" title="Add attribute...">+</div>
    </div>
    <ul class="attributes unstyled"></ul>
    <div class="constraints-title">CONSTRAINTS
        <div class="add-new-constraint" title="Add constraint...">+</div>
    </div>
    <ul class="constraints unstyled"></ul>
    <div class="aspects-title">ASPECTS
        <div class="add-new-aspect" title="Add aspect...">+</div>
    </div>
    <ul class="aspects unstyled"></ul>
    <div class='connector bottom'></div>
    <div class='connector top'></div>
</div>