bin
!src/bin
!test/bin

*/.settings
*/.idea
*.class

node_modules

*.log
.idea
.sass-cache
.DS_Store
tmp

.project
.settings

src/bin/config.js
src/bin/server.log
src/bin/stderr.log
src/bin/stdout.log
src/bin/decorators.js
src/bin/*.xme

/src-cov
/coverage
# ignore file system blob storage files
blob-local-storage

*.swp

webgme-*.tgz

jobList.nedb
workerList.nedb
