bin
!src/bin
!test/bin

*/.settings
*/.idea
*.class
*csproj.user
*.css.map

node_modules

*.log
.idea
.sass-cache
.DS_Store
tmp

.project
.settings

src/bin/config.js
src/bin/server.log
src/bin/stderr.log
src/bin/stdout.log
src/bin/decorators.js
src/bin/*.xme

/report
/coverage
/profiles
# ignore file system blob storage files
blob-local-storage

config/config.dev*.js

*.swp
*~

webgme-*.tgz

executor-temp/
jobList.nedb
workerList.nedb
