*/bin
*/.settings
*/.idea
*.class


/node_modules

*.log
.idea
.sass-cache
.DS_Store

.project
.settings

bin/config.js
bin/server.log
bin/stderr.log
bin/stdout.log
bin/decorators.js
bin/*.xme

# ignore file system blob storage files
blob-local-storage

*.swp
