dist: xenial
language: node_js
services:
  - mongodb
  - redis-server
sudo: false

# https://github.com/travis-ci/apt-source-whitelist/blob/master/ubuntu.json
addons:
  apt:
    sources:
      - mongodb-4.0-xenial

    packages:
      - mongodb-org-server

cache:
  directories:
    - node_modules
    - src/client/bower_components

# git:
#   depth: 5

node_js:
  - "6"
  - "8"
  - "10"

env:
  - TEST_BROWSER=true
  - TEST_FOLDER=test RECURSIVE=true

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script: ./test/travis.sh
