language: node_js
services:
  - mongodb
  - redis-server
sudo: false

addons:
  apt:
    sources:
      - mongodb-3.4-precise

    packages:
      - mongodb-org-server

cache:
  directories:
    - node_modules
    - src/client/bower_components

# git:
#   depth: 5

node_js:
  - "4"
  - "6"

env:
  - TEST_BROWSER=true
  - TEST_FOLDER="test/addon test/bin test/config test/common test/issue test/plugin test/seeds test/client" RECURSIVE=true
  - TEST_FOLDER=test/server RECURSIVE=true

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script: ./test/travis.sh
