# https://www.appveyor.com/docs/how-to/repository-shallow-clone#downloading-repository-via-github-or-bitbucket-api
#shallow_clone: true


environment:
  matrix:
  - nodejs_version: "4"
    platform: x64
  # - nodejs_version: "4.2"
  #   platform: x86

cache:
  - node_modules                    # local npm modules
  - src\client\bower_components     # installed bower components

services:
  - mongodb

install:
  # Install the Redis
  - nuget install redis-64 -excludeversion
  - redis-64\tools\redis-server.exe --service-install
  - redis-64\tools\redis-server.exe --service-start
  - '@ECHO Redis Started'
  - where npm
  - where node
  - ps: Install-Product node $env:nodejs_version $env:platform
  #- for /f "delims=" %%a in ('where npm') do cd %%a\.. && npm install npm@2.14.7
  #- for /f "delims=" %%a in ('where npm') do cd %%a\.. && npm install node-pre-gyp@latest
  - npm install

build: off

test_script:
  - node --version
  - npm --version
  # N.B. a few tests are skipped, because they can randomly fail on windows
  #- node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 test
  #- node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/addon
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/bin
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 test/common
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/common/blob
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/common/core
  #- node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/common/executor
  #- node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/common/storage
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/common/util
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/config
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/issue
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 test/plugin
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 test/plugin/coreplugins
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/plugin/coreplugins/AddOnGenerator
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/plugin/coreplugins/ConstraintEvaluator
  #- node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/plugin/coreplugins/ExecutorPlugin
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/plugin/coreplugins/ImportV1
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/plugin/coreplugins/LayoutGenerator
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/plugin/coreplugins/MergeExample
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/plugin/coreplugins/MetaGMEParadigmImporter
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/plugin/coreplugins/PluginGenerator
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/plugin/coreplugins/VisualizerGenerator
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/plugin/scenarios
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/seeds
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 test/server
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 test/server/api
  #- node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/server/api/addon
  #- node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/server/api/plugin
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 test/server/middleware
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/server/middleware/auth
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/server/middleware/blob
  #- node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/server/middleware/executor
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/server/storage
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/server/util
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/server/worker
  - node ./node_modules/mocha/bin/mocha -R dot --timeout 10000 --recursive test/client
