/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
.model-decorator {
  min-width: 65px;
  min-height: 40px;
  border: 1px solid #000000;
  background-color: #ECECEC;
  padding: 3px;
  text-align: center;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.15); }
  .model-decorator .name {
    white-space: nowrap;
    font-size: 11px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 121px;
    border-bottom: none;
    height: 16px;
    line-height: 16px; }
  .model-decorator div.conn-type {
    font-size: 9px;
    line-height: 12px;
    color: #AAAAAA; }
  .model-decorator .ports {
    font-size: 10px;
    min-height: 1px;
    width: 121px;
    position: relative; }
    .model-decorator .ports .left {
      display: inline-block;
      vertical-align: top;
      width: 50px;
      min-height: 1px; }
    .model-decorator .ports .center {
      display: inline-block;
      vertical-align: top;
      width: 15px;
      height: 1px; }
    .model-decorator .ports .right {
      display: inline-block;
      vertical-align: top;
      width: 50px;
      min-height: 1px; }
    .model-decorator .ports .port {
      white-space: nowrap;
      position: relative;
      height: 15px;
      line-height: 15px; }
      .model-decorator .ports .port:hover {
        cursor: pointer; }
      .model-decorator .ports .port .title-wrapper {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis; }
      .model-decorator .ports .port img.svg-icon {
        height: 11px;
        width: 5px;
        position: absolute;
        display: inline-block;
        top: 2px; }
      .model-decorator .ports .port span.dot {
        position: absolute;
        display: inline-block;
        background: #666666;
        border: 1px solid #666666;
        width: 3px;
        height: 7px;
        top: 4px; }
      .model-decorator .ports .port.w-icon span.dot {
        display: none; }
    .model-decorator .ports .left .port .title-wrapper {
      text-align: left; }
    .model-decorator .ports .left .port img.svg-icon {
      left: -8px; }
    .model-decorator .ports .left .port span.dot {
      left: -6px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .model-decorator .ports .right .port .title-wrapper {
      text-align: right; }
    .model-decorator .ports .right .port img.svg-icon {
      right: -8px;
      -webkit-transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      transform: scaleX(-1); }
    .model-decorator .ports .right .port span.dot {
      left: 54px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  .model-decorator .progress-bar .loader-progressbar {
    position: relative;
    left: 50%;
    margin-left: -8px; }
  .model-decorator .ptr {
    position: absolute;
    top: 0;
    right: 2px;
    height: 15px;
    width: 15px;
    margin-top: 2px;
    border-radius: 5px; }
    .model-decorator .ptr.ptr-nonset {
      opacity: 0.4; }
    .model-decorator .ptr.inverse-on-hover:hover {
      background-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
      .model-decorator .ptr.inverse-on-hover:hover [class^="icon-"]:not(.icon-white),
      .model-decorator .ptr.inverse-on-hover:hover [class*=" icon-"]:not(.icon-white) {
        background-image: url("../../../img/glyphicons-halflings-white.png"); }
    .model-decorator .ptr [class^="icon-"],
    .model-decorator .ptr [class*=" icon-"] {
      margin-top: -2px; }
  .model-decorator.abstract .name {
    font-style: italic;
    color: #AAAAAA; }
  .model-decorator img.embeddedsvg {
    width: 40px;
    position: relative; }
