$dot-color: #666666;
$port-height: 20px;
$dot-radius : 4px;
$dot-width: 3px;
$dot-height: 8px;
$dot-border-width: 1px;

@mixin port($ports-width, $padding, $connector-size) {
  .port {
    white-space: nowrap;
    position: relative;
    height: $port-height;
    line-height: $port-height;

    &:hover {
      cursor: pointer;
    }

    .title-wrapper {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span.dot {
      position: absolute;
      display: inline-block;
      background: $dot-color;
      border: $dot-border-width solid $dot-color;
      width: $dot-width;
      height: $dot-height;
      top: ($port-height - $dot-height - 2 * $dot-border-width)/2;
    }

    div.connector {
      top: ($port-height - $connector-size)/2;
    }
  }

  .left {
    .port {
      span.dot {
        left: - $padding - $dot-width - 2; /* -2 because of the 2px border-width of the decorator)*/
        border-top-left-radius: $dot-radius;
        border-bottom-left-radius: $dot-radius;
      }

      .connector {
        left: -($connector-size/2) - ($padding - 2);
      }
    }
  }

  .right {
    .port {
      span.dot {
        left: $ports-width + $padding;
        border-top-right-radius: $dot-radius;
        border-bottom-right-radius: $dot-radius;
      }

      .connector {
        left: $ports-width + ($connector-size/2) + ($padding - 2);
      }
    }
  }
}



