@import "../../Connector";

$min-width: 65px;
$height: 40px;
$border: 2px solid #000000;
$background-color: #C5F1FF;
$selected-background-color: #DBEAFC;
$selected-border: 2px solid #52A8EC;
$ports-background-color: #000000;
$left-ports-background-color: rgba(255, 255, 0, 0.5);
$right-ports-background-color: rgba(0, 0, 255, 0.5);
$center-ports-background-color: rgba(0, 255, 0, 0.5);
$ports-width : 50px;
$ports-separator-width: 15px;

.decorator-with-ports {
  min-width: $min-width;
  min-height: $height;
  border: $border;
  background-color: $background-color;
  padding: 3px;
  text-align: center;
  position: absolute;

  .name {
    margin-top: 10px;
    white-space: nowrap;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .ports {
    background-color: $ports-background-color;
    font-size: 10px;
    min-height: 1px;
    width: $ports-width * 2 + $ports-separator-width;

    .left {
      /*background-color: $left-ports-background-color;*/
      text-align: left;
      float: left;

      width: $ports-width;
      min-height: 1px;

      .port {
          position: relative;
          left: -8px;
      }
    }

    .center {
      /*background-color: $center-ports-background-color;*/
      width: $ports-separator-width;
      height: 1px;
      float: left;
    }

    .right {
      /*background-color: $right-ports-background-color;*/
      text-align: right;
      float: right;

      width: $ports-width;
      min-height: 1px;

      .port {
      }
    }
  }

  .connector {
    @include connector_basics;

    margin-left: $connector-size / -2;
    left: 50%;

    &.top {
      top: $connector-size / -2;
    }

    &.bottom {
      bottom: $connector-size / -2;
    }
  }
}

.selectable {
  .default-decorator {
    cursor: pointer;
  }
}

.selected {
  .default-decorator {
    border: $selected-border;
    background-color: $selected-background-color;
  }
}