.model.modelBasic {
    min-width: 100px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    text-align: center;
    padding-bottom: 3px;
}

.model.modelBasic div.modelTitle {
    color: #fff;
    text-shadow: #000 0 1px;
    box-shadow: 5px;
    padding: 5px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -webkit-gradient(linear, left top, right top,
    color-stop(0, rgb(0,0,0)),
    color-stop(0.50, rgb(79,79,79)),
    color-stop(1, rgb(21,21,21)));
    background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
}

.model.modelBasic.selected {
    border: 1px solid #52A8EC;
    background-color: #DBEAFC;
}

.model.modelBasic.connection-end-state-hover {
    border: 1px solid #ff7800;
    background-color: #ff7800;
}