.notification-widget {
  ul.dropdown-menu {
    max-height: 60vh;
    overflow-y: scroll;
  }

  i.notification-drop-down-icon {
    font-size: 10px;
    padding-left: 25px;
    &.notification-drop-down-menu-item-success {
      color: green;
      text-shadow: 0 0 3px green;
    }
    &.notification-drop-down-menu-item-info {
      color: #2e6da4;
      text-shadow: 0 0 3px #2e6da4;
    }
    &.notification-drop-down-menu-item-warn {
      color: orange;
      text-shadow: 0 0 3px orange;
    }
    &.notification-drop-down-menu-item-warning {
      color: orange;
      text-shadow: 0 0 3px orange;
    }
    &.notification-drop-down-menu-item-error {
      color: #ca1e1e;
      text-shadow: 0 0 3px #ca1e1e;
    }
  }

  a.notification-drop-down-menu-item {
    display: inline-block;
    width: calc(100% - 40px);
    padding-left: 5px;
    padding-right: 40px;
    font-size: 12px;
    max-width: 80vw;
    &:hover {
      cursor: default;
      background-image: none;
      background-color: transparent;
    }
    &.notification-drop-down-menu-item-clear {
      cursor: pointer;
      position: fixed;
      width: auto;
      padding: 5px 5px 5px 5px;

      i.clear-all-icon {

      }

      &:hover {
        i.clear-all-icon {
          color: #b30404;
        }
      }
    }
  }
}