/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */

.aspect-details-dialog {
  .modal-body {
    max-height: 500px;
    label.checkbox {
      &.invalid-aspect-member-label {
        color: red;
      }
      input {
        margin-top: 2px;
      }
    }
  }
}