/*
 * @author pmeijer / https://github.com/pmeijer
 */
.apply-commit-queue-dialog .modal-header .header-icon {
  font-size: 20px;
  margin-right: 1ex;
  display: inline-block;
  color: black; }
.apply-commit-queue-dialog .modal-header span {
  font-size: 24px; }
.apply-commit-queue-dialog .modal-body .form-horizontal .toggle-info-btn {
  font-size: 65%;
  vertical-align: top;
  cursor: pointer;
  color: #333; }
  .apply-commit-queue-dialog .modal-body .form-horizontal .toggle-info-btn:hover {
    color: #2a6496; }
.apply-commit-queue-dialog .modal-body .form-horizontal .type-description {
  display: inline-block;
  width: 95%;
  margin-bottom: 2ex;
  margin-left: 0.5ex;
  opacity: 0.90; }
  .apply-commit-queue-dialog .modal-body .form-horizontal .type-description.hidden {
    display: none; }
.apply-commit-queue-dialog .modal-body .form-horizontal .selection .selector {
  display: inline-block;
  width: 100%;
  padding: 0; }
  .apply-commit-queue-dialog .modal-body .form-horizontal .selection .selector.widget {
    border: none; }
.apply-commit-queue-dialog .modal-body .form-horizontal .selection .asset-widget {
  width: 100%;
  height: 100%;
  padding-top: 0.3ex; }
  .apply-commit-queue-dialog .modal-body .form-horizontal .selection .asset-widget a.btn-dialog-open {
    font-size: 120%;
    padding-top: 0.6ex; }
.apply-commit-queue-dialog .modal-body .form-horizontal .file-status {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 8px;
  width: 100%; }
  .apply-commit-queue-dialog .modal-body .form-horizontal .file-status.hidden {
    display: none; }
.apply-commit-queue-dialog .modal-footer .branch-name {
  display: inline-block;
  width: 40%; }
