<div class="attribute-details-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Edit attribute parameters...</h3>
            </div>
            <form class="modal-body form-horizontal" role="form">
                <div class="form-group" id="pName">
                    <label class="col-sm-4 control-label" for="inputName">Name</label>

                    <div class="col-sm-8 controls">
                        <input type="text" id="inputName" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputType">Type</label>

                    <div class="col-sm-8 controls">
                        <select id="inputType">
                            <option>string</option>
                            <option>integer</option>
                            <option>float</option>
                            <option>boolean</option>
                            <option>asset</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="pDefaultValue">
                    <label class="col-sm-4 control-label" for="inputDefaultValue">Default value</label>

                    <div class="col-sm-8 controls">
                        <input type="text" id="inputDefaultValue" placeholder="Default value">
                    </div>
                </div>
                <div class="control-group" id="pDefaultValueBoolean">
                    <label class="col-sm-4 control-label">Default value</label>

                    <div class="col-sm-8 controls">
                        <label class="radio inline">
                            <input type="radio" name="rbBoolean" id="rbBooleanTrue" value="true" checked>
                            TRUE
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="rbBoolean" id="rbBooleanFalse" value="false">
                            FALSE
                        </label>
                    </div>
                </div>
                <div class="form-group" id="pRegExp">
                    <label class="col-sm-4 control-label">Regular Expression</label>
                    <div class="col-sm-8 controls">
                        <input type="text" id="inputRegExp" title="No leading and trailing slash needed. Modifiers not allowed!">
                    </div>
                </div>
                <div class="form-group" id="pRange">
                    <label class="col-sm-4 control-label" for="inputDefaultValue">Inclusive Value Range</label>

                    <div class="col-sm-8 controls">
                        <input type="number" id="inputMinValue" placeholder="minimum">
                        <input type="number" id="inputMaxValue" placeholder="maximum">
                    </div>
                </div>
                <div class="form-group" id="pEnum">
                    <label class="col-sm-4 control-label"></label>

                    <div class="col-sm-8 controls">
                        <label class="checkbox">
                            <input type="checkbox" id="cbEnum" value="">
                            Enumeration
                        </label>
                    </div>
                </div>
                <div id="pEnumValues" class="form-group">
                    <label class="col-sm-4 control-label" for="inputEnumValues">Values</label>

                    <div class="col-sm-8 controls">
                        <textarea rows="3" id="inputEnumValues"
                                  placeholder="Enter each value in separate line"></textarea>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger btn-delete pull-left">Delete</a>
                <a href="#" class="btn btn-primary disabled btn-save">Save</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>