<div class="meta-editor-pointer-names-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Create new pointer</h3>
            </div>
            <form class="modal-body" role="form">
                <div class="row">
                    <label class="col-sm-4 control-label pick-existing-label">
                        Pick one of the existing pointers:
                    </label>

                    <div class="col-sm-4 controls btn-group-existing btn-group btn-group-vertical">
                    </div>
                </div>
                <div class="panel-popular row">
                    <label class="col-sm-4 control-label">
                        Or pick a popular one:
                    </label>

                    <div class="col-sm-4 controls btn-group-popular btn-group btn-group-vertical">
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <div class="panel-create-new form-group">
                    <label class="col-sm-4 control-label create-new-label">
                        Or create a new pointer:
                    </label>

                    <div class="col-sm-8 input-group">
                        <input type="text" class="txt-pointer-name form-control" placeholder="New pointer name..."/>

                        <div class="input-group-btn">
                            <button href="#" class="btn btn-primary btn-create">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>