<div class="confirm-delete-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <i class="glyphicon glyphicon-trash header-icon"></i><span>Confirm delete</span>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
                <div class="delete-item"></div>
            </div>
            <div class="modal-footer">
                <form>
                    <label class="do-not-ask-again pull-left">
                        <input type="checkbox"> Don't ask me again
                    </label>
                </form>
                <button class="btn btn-danger btn-ok">OK</button>
                <button class="btn btn-default btn-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>