$set-list-container-border-color: rgba(0, 0, 0, 0);
$set-items-empty-border-color: #3A87AD;
$set-items-empty-text-color: $set-items-empty-border-color;
$set-container-highlight-border-color: rgba(82, 168, 236, 0.8);
$set-container-highlight-border-begin-color: rgba(0, 0, 0, 0.075);
$set-container-highlight-border-end-color: rgba(82, 168, 236, 0.6);
$set-list-container-max-height: 300px;
$set-member-border-color: #DDDDDD;
$set-member-background-color: #FFFFFF;
$set-member-background-hover-color: rgba(82, 168, 236, 0.2);
$set-title-background-color: rgba(82, 168, 236, 0.25);
$set-title-border-color: #AEAEAE;

.setEditor {

  .set-editor-title {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 4px;
    max-width: 143px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .set-list-container {
    margin: 3px;
    border: 1px solid $set-list-container-border-color;
    padding: 10px 5px;

    max-height: $set-list-container-max-height;
    overflow-y: auto;
    overflow-x: hidden;

    ul.set-list {

      li.set {

        border: 1px solid rgba(0,0,0,0);

        margin-bottom: 10px;

        .set-title {
          border: 1px solid $set-title-border-color;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bold;
          background-color: $set-title-background-color;
          padding: 2px;

          > button.close {
            line-height: 14px;
          }
        }

        .set-items {

          font-size : 9px;
          display: none;

          &.empty {
            border-color: $set-items-empty-border-color;
            text-align: center;
            color: $set-items-empty-text-color;
          }

          ul.set-members li {
            border: 1px solid $set-member-border-color;
            background-color: $set-member-background-color;
            padding: 2px;
            margin-top: 3px;
            overflow: hidden;
            text-overflow: ellipsis;

            > button.close {
              display: none;
            }

            div {
              line-height: 14px;
            }

            &:hover {
              background-color: $set-member-background-hover-color;

              > button.close {
                display: inline;
              }
            }
          }
        }

        &.highlight {
          border: 1px solid $set-container-highlight-border-color;
          outline: 0;
          outline: thin dotted \9;

          /* IE6-9 */

          -webkit-box-shadow: inset 0 1px 1px $set-container-highlight-border-begin-color, 0 0 8px $set-container-highlight-border-end-color;
          -moz-box-shadow: inset 0 1px 1px $set-container-highlight-border-begin-color, 0 0 8px $set-container-highlight-border-end-color;
          box-shadow: inset 0 1px 1px $set-container-highlight-border-begin-color, 0 0 8px $set-container-highlight-border-end-color;
        }
      }
    }
  }
}