.graph-viz .node {
  cursor: pointer; }
.graph-viz .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px; }
.graph-viz .node text {
  font: 10px sans-serif; }
.graph-viz .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px; }
