/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 * @author Qishen Zhang  https://github.com/VictorCoder123
 */

.Document-decorator {
  min-width: 65px;
  max-width: 400px;
  height: auto;
  width: auto;
  border: 1px solid black;
  background-color: #dedede;
  padding: 2ex;
  text-align: center;
  font-weight: normal;

  i.text-meta {
    &:hover {
      font-weight: bolder;
    }
    &.not-activated {
      cursor: not-allowed;
    }
  }
  .doc {
    text-align: left;
  }
  .name {
    white-space: nowrap;
    font-size: 11px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
  }
  .connector {
    background-color: #fefefe;
    height: 10px;
    width: 10px;
    position: absolute;
    cursor: pointer;
    border: 1px solid blue;
    z-index: 10;
    margin-left: -6px;
    left: 50%;
    &:hover {
      border-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    }
    &.top {
      top: -6px;
    }
    &.bottom {
      bottom: -6px;
    }
  }
}
.selected .Document-decorator {
  border: 1px solid #52a8ec;
  background-color: #dbeafc;
}