<div class="plugin-config-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <form>
                    <label class="save-configuration pull-left">
                        <input type="checkbox"> Save these settings in the current user
                    </label>
                </form>
                <a href="#" class="btn btn-save btn-primary">Save &amp; Run...</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>