<div class="valid-visualizers-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <i class="glyphicon glyphicon-transfer header-icon"></i><span>Valid Visualizers</span>
            </div>
            <div class="modal-body">
                <h4>Edit valid visualizers
                    <i class="glyphicon glyphicon-info-sign toggle-info-btn"/>
                </h4>
                    <span class="info-message hidden">Drag and drop to set the valid visualizers ..
                     </span>
                <span>
                </span>
                <div class="visualizers-selection-container">
                    <h5>
                        Available:
                    </h5>
                    <ul id="available" class="connectedSortable">
                        <li class="alert alert-info" title="Composition">ModelEditor</li>
                        <li class="alert alert-info">MetaAspect</li>
                        <li class="alert alert-info">CrossCut</li>
                    </ul>
                </div>
                <div class="visualizers-selection-container">
                    <h5>
                        Selected:
                    </h5>
                    <ul id="selected" class="connectedSortable">
                        <li class="alert alert-info">SetEditor</li>
                        <li class="alert alert-info">MyOwnOneWithAVeryLongIdIndeedVeryMuchSoVeryLong</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-ok">OK</button>
                <button class="btn btn-default btn-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>