$filterPanel-background-color: #FFFFFF;
$filterPanel-top: 8px;
$filterPanel-right: 11px;
$filterPanel-border: 1px solid rgba(0, 0, 0, 0.2);
$filterPanel-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
$filterPanel-header-min-width: 100px;

$sheets-container-height: 26px;

div.filterPanel {
	position: absolute;
	top: $sheets-container-height + $filterPanel-top;
	right: $filterPanel-right;

	background-color: $filterPanel-background-color;
	border: $filterPanel-border;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	-webkit-box-shadow: $filterPanel-shadow;
	-moz-box-shadow: $filterPanel-shadow;
	box-shadow: $filterPanel-shadow;
	
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;

	.header {
		min-width: $filterPanel-header-min-width;
		text-align: center;
		margin: 0 5px;
	}

	.body {
		display: none;
		list-style: none;
		padding: 5px;
		margin: 0;

		li.filterItem {
			margin: 3px 0;

            .iCheckBox {
              float: right;
              margin-top: 6px;
              margin-left: 3px;
            }

            div > svg {
              margin-top: 4px;
            }
		}
	}

	&:hover {
		.header {
			border-bottom: $filterPanel-border;
		}

		.body {
			display :block;
		}
	}
}

.sheets-container {
	position: absolute;
	top: 2px;
	width : 100%;
	height: $sheets-container-height;
	background-color: rgba(255, 255, 255, 0.3);
	padding-top: 2px;

	> div {
		display: table-cell;
		vertical-align: middle;
		white-space: nowrap;
	}

	div.add-sheet-container {
		border-bottom: 1px solid #ddd;
		padding-left: 3px;
		padding-right: 3px;
		padding-bottom: 2px;
	}

	div.add-sheet-container {
		> div {
			display: inline-block;
			margin-right: 3px;
		}
	}

    div.add-sheet-container {
      ul.dropdown-menu {
        li {
          a {
            [class^="icon-"],
            [class*=" icon-"] {
              margin-left: -17px;
              margin-right: 3px;
            }
          }
        }
      }
    }

	div.sheet-list-container {
		width: 100%;
		overflow: hidden;

		ul.nav {
			position: relative;
			margin-bottom: 0px;
            height: 24px;

			&.nav-tabs {
				> li {
					display: inline-block;
					float:none;

					> a {
						padding-top: 5px;
				  		padding-bottom: 5px;
				  		line-height: 13px;

                      .sheet-title {
                        white-space: nowrap;
                        display: inline-block;
                        max-width: 120px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        
                        input {
                          min-width: 50px !important;
                        }
                      }

                        [class^="icon-"],
                        [class*=" icon-"] {
                          margin-top: -2px;
                          margin-left: 2px;
                          cursor: pointer;
                          display: none;
                        }
					}

                  &.active {
                    > a {
                      [class^="icon-"],
                      [class*=" icon-"] {
                        display: inline-block;
                      }
                    }
                  }
				}
              
              &.ui-sortable {
                li.ui-sortable-placeholder {
                  height: 0px !important;
                }

                li.ui-sortable-helper {
                  top: 0px !important;
                  pointer-events: none;
                }
              }
			}
		}
	}
}

.read-only {
  .sheets-container {
    div.sheet-list-container {
      ul.nav {
        &.nav-tabs {
          > li {
            &.active {
              > a {
                [class^="icon-"],
                [class*=" icon-"] {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}