/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
/* make sure to update commit_WIDTH and commit_HEIGHT in Widgets/ProjectRepository/ProjectRepositoryWidget.js */
.repository-dialog .modal-header > h3 {
  margin-top: 0;
  margin-bottom: 0; }

.project-repository-widget {
  /********* TABLE LAYOUT STYLES ************/ }
  .project-repository-widget table.table.commit-list {
    width: auto; }
  .project-repository-widget table.no-commits-in-table {
    display: none; }
  .project-repository-widget .message-column {
    width: 100%; }
  .project-repository-widget .commits {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 53.5px;
    /*DISABLE OUTER BORDER WHEN FOCUSED*/ }
    .project-repository-widget .commits:focus {
      outline: none; }
    .project-repository-widget .commits .commit {
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #000000;
      border-radius: 5px; }
      .project-repository-widget .commits .commit.actual {
        background-color: #FF7800;
        -moz-box-shadow: 0 0 10px 3px #FF7800;
        -webkit-box-shadow: 0 0 10px 3px #FF7800;
        box-shadow: 0 0 10px 3px #FF7800; }
  .project-repository-widget .show-more {
    height: 36px;
    line-height: 36px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #3a87ad;
    border-top: 1px solid #3a87ad;
    text-align: center;
    margin-top: 15px;
    position: relative; }
    .project-repository-widget .show-more a:hover {
      text-decoration: none; }
  .project-repository-widget table tr {
    height: 25px; }
    .project-repository-widget table tr th,
    .project-repository-widget table tr td {
      padding: 0 5px;
      white-space: nowrap;
      vertical-align: middle;
      text-align: center; }
      .project-repository-widget table tr th.actions,
      .project-repository-widget table tr td.actions {
        text-align: left; }
        .project-repository-widget table tr th.actions button i,
        .project-repository-widget table tr td.actions button i {
          color: #404040; }
        .project-repository-widget table tr th.actions > div.input-group,
        .project-repository-widget table tr td.actions > div.input-group {
          margin-bottom: 0;
          display: inline-flex;
          display: -webkit-inline-flex; }
          .project-repository-widget table tr th.actions > div.input-group > input,
          .project-repository-widget table tr td.actions > div.input-group > input {
            height: 100%;
            width: 150px;
            padding: 3px 5px; }
      .project-repository-widget table tr th.user-column,
      .project-repository-widget table tr td.user-column {
        text-align: right; }
        .project-repository-widget table tr th.user-column .avatar-container .avatar-image,
        .project-repository-widget table tr td.user-column .avatar-container .avatar-image {
          width: 18px;
          margin-left: 8px; }
      .project-repository-widget table tr th.commit-hash,
      .project-repository-widget table tr td.commit-hash {
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; }
        .project-repository-widget table tr th.commit-hash:hover,
        .project-repository-widget table tr td.commit-hash:hover {
          cursor: pointer;
          text-decoration: underline;
          color: #ff7700; }
      .project-repository-widget table tr th div.commit-message,
      .project-repository-widget table tr td div.commit-message {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        min-width: 200px; }
      .project-repository-widget table tr th .common-label,
      .project-repository-widget table tr td .common-label {
        margin-right: 2px; }
        .project-repository-widget table tr th .common-label i.icon-white,
        .project-repository-widget table tr td .common-label i.icon-white {
          margin-left: 2px;
          font-size: 10px; }
          .project-repository-widget table tr th .common-label i.icon-white:hover,
          .project-repository-widget table tr td .common-label i.icon-white:hover {
            cursor: pointer;
            color: darkred; }
        .project-repository-widget table tr th .common-label .select-branch-in-text:hover,
        .project-repository-widget table tr td .common-label .select-branch-in-text:hover {
          cursor: pointer;
          font-weight: bold; }
        .project-repository-widget table tr th .common-label i.tag-label-icon,
        .project-repository-widget table tr td .common-label i.tag-label-icon {
          padding-right: 5px;
          font-size: 9px; }
        .project-repository-widget table tr th .common-label.label,
        .project-repository-widget table tr td .common-label.label {
          font-size: 11px;
          font-weight: normal;
          height: 15px; }
          .project-repository-widget table tr th .common-label.label.delete-prohibited i.icon-white,
          .project-repository-widget table tr td .common-label.label.delete-prohibited i.icon-white {
            display: none; }
      .project-repository-widget table tr th > .btn,
      .project-repository-widget table tr td > .btn {
        margin-left: 2px;
        margin-right: 2px; }
      .project-repository-widget table tr th .control-group,
      .project-repository-widget table tr td .control-group {
        margin-bottom: 0; }
  .project-repository-widget table td:first-child {
    border-top: 1px solid transparent; }
  .project-repository-widget table.table-hover tbody tr:hover > td, .project-repository-widget table.table-hover tbody tr:hover > th {
    background-color: rgba(236, 236, 236, 0.5); }
