$part-browser-li-margin-top: 15px;

.part-browser {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow-x: auto;
  overflow-y: auto;

  > ul {
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
    padding: 0;

    > li {
      list-style-type: none;
      padding: 0px;
      margin: $part-browser-li-margin-top 10px 5px 10px;
      text-decoration: none;
      color: black;
      font-size: 10px;

      div.part {
        display: inline-block;
        cursor: pointer;
      }
      div.name-part {
        display: inline-block;
        cursor: pointer;
        font-size: 12px;
        color: #3160AB;
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      div.name-part:hover{
        text-decoration: underline;
        color: #FF7700;
        background-color:#EEEEEE;
      }
    }
  }
  > ul.part {
    text-align: center;
  }
  > ul.name-part {
    text-align: left;
  }
}