.part-browser {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden; }
  .part-browser > ul {
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
    padding: 0; }
    .part-browser > ul > li {
      list-style-type: none;
      padding: 0px;
      margin: 15px 10px 5px 10px;
      text-decoration: none;
      color: black;
      font-size: 10px; }
      .part-browser > ul > li div.part {
        display: inline-block;
        cursor: pointer; }
      .part-browser > ul > li div.name-part {
        display: inline-block;
        cursor: pointer; }
