$part-browser-li-margin-top: 15px;

.part-browser {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;

  > ul {
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
    padding: 0;

    > li {
      list-style-type: none;
      padding: 0px;
      margin: $part-browser-li-margin-top 10px 5px 10px;
      text-decoration: none;
      color: black;
      font-size: 10px;

      div.part {
        display: inline-block;
        cursor: pointer;
      }
    }
  }
}