@import "Port";

$min-width: 65px;
$height: 40px;
$border: 1px solid #000000;
$padding: 3px;
$background-color: #ECECEC;
$box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,.15);
$selected-background-color: #DBEAFC;
$selected-border: 1px solid #52A8EC;
$ports-background-color: #000000;
$left-ports-background-color: rgba(255, 255, 0, 0.5);
$right-ports-background-color: rgba(0, 0, 255, 0.5);
$center-ports-background-color: rgba(0, 255, 0, 0.5);
$ports-width : 50px;
$ports-separator-width: 15px;
$accept-droppable-background-color: #00FF00;
$ptr-hover-background-color: rgba(82, 168, 236, 0.8);
$ptr-hover-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
$model-name-height: 16px;
$abstract-class-name-color: #AAAAAA;


@mixin model_decorator_core {
  .model-decorator {
    min-width: $min-width;
    min-height: $height;
    border: $border;
    background-color: $background-color;
    padding: $padding;
    text-align: center;
    position: relative;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;

    .name {
      white-space: nowrap;
      font-size: 9px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      width: $ports-width * 2 + $ports-separator-width + $padding * 2;
      border-bottom: none;
      height: $model-name-height;
      line-height: $model-name-height;
    }

    div.conn-type {
      font-size: 9px;
      line-height: 12px;
      color: $abstract-class-name-color;
    }

    .ports {
      font-size: 10px;
      min-height: 1px;
      width: $ports-width * 2 + $ports-separator-width + $padding * 2;
      z-index: 10;
      position: relative;

      .left {
        display: inline-block;
        vertical-align: top;
        width: $ports-width;
        min-height: 1px;
      }

      .center {
        display: inline-block;
        vertical-align: top;
        width: $ports-separator-width;
        height: 1px;
      }

      .right {
        display: inline-block;
        vertical-align: top;
        width: $ports-width;
        min-height: 1px;
      }

      @include port($ports-width, $padding);
    }

    .progress-bar {
      .loader-progressbar {
        position: relative;
        left: 50%;
        margin-left: -8px;
      }
    }

    .ptr {
      position: absolute;
      top: 0;
      right: 2px;
      height: 15px;
      width: 15px;
      margin-top: 2px;
      border-radius: 5px;

      &.ptr-nonset {
        opacity: 0.4;
      }

      &.inverse-on-hover:hover {
        background-color: $ptr-hover-background-color;
        -webkit-box-shadow: $ptr-hover-shadow;
        -moz-box-shadow: $ptr-hover-shadow;
        box-shadow: $ptr-hover-shadow;

        [class^="icon-"]:not(.icon-white),
        [class*=" icon-"]:not(.icon-white) {
          background-image: url("../../../img/glyphicons-halflings-white.png");
        }
      }

      [class^="icon-"],
      [class*=" icon-"] {
        margin-top: -2px;
      }
    }

    &.abstract {
      .name {
        font-style:italic;
        color: $abstract-class-name-color;
      }
    }

    img.embeddedsvg {
      width: 40px;
      position: relative;
    }
  }
}