$dot-color: #666666;
$port-height: 16px;
$dot-radius : 4px;
$dot-width: 3px;
$dot-height: 8px;
$dot-border-width: 1px;
$icon-padding: 2px;
$icon-size: $port-height - 3;

@mixin port($ports-width, $padding) {
  .port {
    white-space: nowrap;
    position: relative;
    height: $port-height;
    line-height: $port-height;

    &:hover {
      cursor: pointer;
    }

    .title-wrapper {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img.svg-icon {
      height: $icon-size;
      width: $icon-size;
      position: absolute;
      display: inline-block;
      top: 1px;
    }

    span.dot {
      position: absolute;
      display: inline-block;
      background: $dot-color;
      border: $dot-border-width solid $dot-color;
      width: $dot-width;
      height: $dot-height;
      top: ($port-height - $dot-height - 2 * $dot-border-width)/2;
    }

    &.w-icon {
      span.dot {
        display: none;
      }
    }
  }

  .left {
    .port {
      .title-wrapper {
        text-align: left;
      }

      img.svg-icon {
        left: -$icon-size - $padding;
      }

      span.dot {
        left: - $padding - $dot-width - 2; // -2 because of the 2px border-width of the decorator)
        border-top-left-radius: $dot-radius;
        border-bottom-left-radius: $dot-radius;
      }
    }
  }

  .right {
    .port {
      .title-wrapper {
        text-align: right;
      }

      img.svg-icon {
        right: -$icon-size - $padding;
      }

      span.dot {
        left: $ports-width + $padding;
        border-top-right-radius: $dot-radius;
        border-bottom-right-radius: $dot-radius;
      }
    }
  }
}



