.decorator-with-ports {
  min-width: 65px;
  min-height: 40px;
  border: 1px solid black;
  background-color: #c5f1ff;
  padding: 3px;
  text-align: center; }
  .decorator-with-ports .name {
    white-space: nowrap;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 121px;
    border-bottom: 1px solid #000000; }
  .decorator-with-ports .ports {
    /*background-color: $ports-background-color;*/
    font-size: 10px;
    min-height: 1px;
    width: 121px; }
    .decorator-with-ports .ports .left {
      /*background-color: $left-ports-background-color;*/
      display: inline-block;
      vertical-align: top;
      width: 50px;
      min-height: 1px; }
    .decorator-with-ports .ports .center {
      /*background-color: $center-ports-background-color;*/
      width: 15px;
      height: 1px;
      display: inline-block;
      vertical-align: top; }
    .decorator-with-ports .ports .right {
      /*background-color: $right-ports-background-color;*/
      display: inline-block;
      vertical-align: top;
      width: 50px;
      min-height: 1px; }
    .decorator-with-ports .ports .port {
      white-space: nowrap;
      position: relative;
      height: 20px;
      line-height: 20px; }
      .decorator-with-ports .ports .port:hover {
        cursor: pointer; }
      .decorator-with-ports .ports .port .title-wrapper {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis; }
      .decorator-with-ports .ports .port span.dot {
        position: absolute;
        display: inline-block;
        background: #666666;
        border: 1px solid #666666;
        width: 3px;
        height: 8px;
        top: 5px; }
      .decorator-with-ports .ports .port div.connector {
        top: 4px; }
    .decorator-with-ports .ports .left .port .title-wrapper {
      text-align: left; }
    .decorator-with-ports .ports .left .port span.dot {
      left: -8px;
      /* -2 because of the 2px border-width of the decorator)*/
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .decorator-with-ports .ports .left .port .connector {
      left: -7px; }
    .decorator-with-ports .ports .right .port .title-wrapper {
      text-align: right; }
    .decorator-with-ports .ports .right .port span.dot {
      left: 53px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
    .decorator-with-ports .ports .right .port .connector {
      left: 57px; }
  .decorator-with-ports .connector {
    background-color: #fefefe;
    height: 10px;
    width: 10px;
    position: absolute;
    cursor: pointer;
    border: 1px solid blue;
    margin-left: -6px;
    left: 50%; }
    .decorator-with-ports .connector:hover {
      border-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
    .decorator-with-ports .connector.connection-end-accept {
      background-color: lime; }
    .decorator-with-ports .connector.connection-end-reject {
      background-color: red; }
    .decorator-with-ports .connector.top {
      top: -6px; }
    .decorator-with-ports .connector.bottom {
      bottom: -6px; }

.selected .decorator-with-ports {
  border: 1px solid #52a8ec;
  background-color: #dbeafc; }
