/*
 * @author pmeijer / https://github.com/pmeijer
 */
div.valid-visualizers-dialog div.modal-header .header-icon {
  font-size: 24px;
  margin-right: 1ex;
  display: inline-block;
  color: #333; }
div.valid-visualizers-dialog div.modal-header span {
  font-size: 24px; }
div.valid-visualizers-dialog .modal-content .toggle-info-btn {
  font-size: 65%;
  vertical-align: top;
  cursor: pointer;
  color: #333; }
  div.valid-visualizers-dialog .modal-content .toggle-info-btn:hover {
    color: #2a6496; }
div.valid-visualizers-dialog .modal-content .info-message {
  display: inline-block;
  width: 95%;
  margin-bottom: 2ex;
  margin-left: 0.5ex;
  opacity: 0.90; }
  div.valid-visualizers-dialog .modal-content .info-message.hidden {
    display: none; }
div.valid-visualizers-dialog .modal-content .visualizers-selection-container {
  width: 40%;
  float: left;
  margin-right: 10px; }
  div.valid-visualizers-dialog .modal-content .visualizers-selection-container ul {
    border: 1px solid #eee;
    min-height: 30px;
    list-style-type: none;
    padding: 5px 0 0 0; }
  div.valid-visualizers-dialog .modal-content .visualizers-selection-container li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer; }
