$panel-header-background-color: #EFEFEF;
$panel-header-active-background-color: rgba(82, 168, 236, 0.8);
$panel-header-active-title-color: #FFF;
$panel-body-background-color: #FFFFFF;
$panel-body-background-color-read-only: #FBFBFB;

$sidepane-panel-background-color: #F5F5F5;
$sidepane-panel-header-background-color: #F5F5F5;
$sidepane-panel-body-background-color: #F5F5F5;
$sidepane-panel-body-background-color-read-only: #FBFBFB;

$sidepane-panel-border-color: #E9E9E9;
$sidepane-panel-border-radius: 4px;

$panel-header-height: 3px;
$side-panel-header-height: 18px;
$panel-border-bottom-width: 3px;

$floating-box-shadow: 0px 0px 5px 2px #CCC;
$active-floating-box-shadow: 0px 0px 5px 2px $panel-header-active-background-color;

$title-font-size: 14px;

@mixin panel_header_title {
  font-size: $title-font-size;
  line-height: $title-font-size;
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
  margin-left: 5px;
  white-space: nowrap;
}

.panel-base-wh {
  box-sizing: border-box;

  .ro-icon {
    display: none;
    margin-right: 2px;
    position: absolute;
    top: 2px;
    left: 2px;
  }

  .panel-header {
    //padding: 5px;
    height: $panel-header-height - $panel-border-bottom-width;
    background-color: $panel-header-background-color;
    border-bottom: $panel-border-bottom-width solid rgba(0, 0, 0, 0);
    /*overflow: visible;
    overflow-x: hidden;*/
    white-space: nowrap;

    /*.ro-icon {
      display: none;
      margin-right: 2px;
      position: absolute;
    }*/

    .panel-header-title {
      @include panel_header_title;
    }

    .panel-header-toolbar {
      .toolbar-group {
        margin-left: 10px;

        &.toolbar-group-small-margin {
          margin-left: 2px;
        }
      }

      select,
      textarea,
      input,
      .uneditable-input {
        margin-bottom: 0px;
      }

      .input-append,
      .input-prepend {
        margin-bottom: 0px;
      }

      input.no-focus-collapse:not(:focus) {
        width: 30px;
      }

      li {
        div.iCheckBox {
          margin-left: 10px;
        }
      }

      .iCheckBox {
        top: 5px;
        margin-left: 10px;
      }

      ul.dropdown-menu {
        .iCheckBox {
          top: 1px;
        }
      }
    }

    &.absolute-header {
      border-bottom-width: 0px;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }

  .panel-body {
    position: relative;
    overflow: auto;
    background-color: $panel-body-background-color;
  }

  .floating-title {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $panel-body-background-color;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: $floating-box-shadow;
    -moz-box-shadow: $floating-box-shadow;
    box-shadow: $floating-box-shadow;

    .ro-icon {
      position: relative;
      top: -1px;
      left: 2px;
    }

    .panel-header-title {
      @include panel_header_title;
      margin-top: 3px;
    }
  }

  &.read-only {
    .ro-icon {
      display: inline-block;
    }

    .panel-body {
      background-color: $panel-body-background-color-read-only;
    }

    .floating-title {
      background-color: $panel-body-background-color-read-only;
    }
  }

  &.active-panel {
    .panel-header {
      border-bottom-color: $panel-header-active-background-color;
    }

    .floating-title {
      -webkit-box-shadow: $active-floating-box-shadow;
      -moz-box-shadow: $active-floating-box-shadow;
      box-shadow: $active-floating-box-shadow;
    }

    .absolute-header {
      -webkit-box-shadow: $active-floating-box-shadow;
      -moz-box-shadow: $active-floating-box-shadow;
      box-shadow: $active-floating-box-shadow;
    }
  }

  &.w-tabs {
    .floating-title {
      top: 30px;
    }
  }
}




.side-panel {

  .panel-base-wh {
    position: relative;
    padding: 0px;
    margin-bottom: 2px;
    border: 1px solid $sidepane-panel-border-color;
    -webkit-border-radius: $sidepane-panel-border-radius;
    -moz-border-radius: $sidepane-panel-border-radius;
    border-radius: $sidepane-panel-border-radius;
    background-color: $sidepane-panel-background-color;

    .panel-header {
      padding: 3px;
      height: $side-panel-header-height - $panel-border-bottom-width;
      background-color: $sidepane-panel-header-background-color;
      border-bottom: $panel-border-bottom-width solid rgba(0, 0, 0, 0);

      .ro-icon {
        position: relative;
        top: 0px;
        left: 0px;
      }

      .panel-header-title {
        font-size: 11px;
        line-height: 18px;
        color: #999;
        text-transform: uppercase;
        margin-right: 0;
        margin-left: 0;
      }

      .panel-header-toolbar {
        display: block;
     }
    }

    .panel-body {
      background-color: $sidepane-panel-body-background-color;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 0px;
      padding-right: 0px;
    }

    &.read-only {
      .panel-body {
        background-color: $sidepane-panel-body-background-color-read-only;
      }
    }

    &.active-panel {
      .panel-header {
        border-bottom-color: $panel-header-active-background-color;
      }
    }
  }
}