.designer-item .modelica-decorator {
  text-align: center; }
  .designer-item .modelica-decorator .connector {
    background-color: #fefefe;
    height: 10px;
    width: 10px;
    position: absolute;
    cursor: pointer;
    border: 1px solid blue;
    left: 50%; }
    .designer-item .modelica-decorator .connector:hover {
      border-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
    .designer-item .modelica-decorator .connector.connection-end-accept {
      background-color: lime; }
    .designer-item .modelica-decorator .connector.connection-end-reject {
      background-color: red; }
    .designer-item .modelica-decorator .connector.top {
      top: -6px; }
    .designer-item .modelica-decorator .connector.bottom {
      bottom: -6px; }
  .designer-item .modelica-decorator .connector-container {
    position: absolute;
    top: 0px;
    left: 0px;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0; }
.designer-item.selectable .modelica-decorator {
  cursor: pointer; }
.designer-item.selected .modelica-decorator {
  background-color: rgba(219, 234, 252, 0.5); }
