$item-background-color: #000000;
$item-actual-background-color: #FF7800;
$item-size: 8px; /* make sure to update ITEM_WIDTH and ITEM_HEIGHT in RepositoryLogView.js */
$item-radius: 5px;
$item-hover-size: 12px;
$item-hover-radius: 7px;
$remote-head-color: #b94a48;
$local-head-color: #3a87ad;

$show-more-panel-background-color: #F7F7F7;
$show-more-panel-height: 36px;
$show-more-panel-border: 1px solid #3a87ad;

$table-row-height: 25px; //equals RepositoryLogView.js Y_DELTA!!!

.repositoryLogView {
  .commits {
    position: relative;
    margin-top: 19px; //FOR TABLE LAYOUT POSITION MATCH

    /*DISABLE OUTER BORDER WHEN FOCUSED*/
    &:focus {
      outline: none;
    }

    .item {
      width: $item-size;
      height: $item-size;
      background-color: $item-background-color;
      vertical-align: middle;
      text-align: center;
      font-family: Helvetica, Arial;
      pointer-events:all;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: absolute;
      cursor: pointer;
      box-sizing: border-box;
      border-radius: $item-radius;

      &.merge {
        border-radius: 0 !important;
      }

      &.actual {
        background-color: $item-actual-background-color;
      }

      &:hover {
        width: $item-hover-size;
        height: $item-hover-size;
        margin-left: ($item-size - $item-hover-size) / 2;
        margin-top: ($item-size - $item-hover-size) / 2;
        border-radius: $item-hover-radius;
      }
    }

    .commitLabelWrapper {
      position: absolute;
      white-space: nowrap;
    }

    .tooltiplabel {
      opacity: 1.0;
      margin-left: 0px;
      display: inline-block;
      position: relative;

      [class*="icon-white"]:hover {
        cursor: pointer;
        background-image: url("../../img/glyphicons-halflings.png");
      }

      &.remote-head {
        .tooltiplabel-arrow {
          border-right-color: $remote-head-color;
        }

        .tooltiplabel-inner {
          background-color: $remote-head-color;
        }
      }

      &.local-head {
        .tooltiplabel-arrow {
          border-right-color: $local-head-color;
        }

        .tooltiplabel-inner {
          background-color: $local-head-color;
        }
      }
    }
  }

  .show-more {
    height: $show-more-panel-height;
    line-height: $show-more-panel-height;
    background-color: $show-more-panel-background-color;
    position: relative;
    border-bottom: $show-more-panel-border;
    border-top: $show-more-panel-border;
    text-align: center;
    margin-top: 15px;

    a:hover {
      text-decoration: none;
    }
  }

  /********* TABLE LAYOUT STYLES ************/
  table {
    position: absolute;
    top: 0px;
    left: 15px;

    tr {
      height: $table-row-height;
    }

    th,
    td {
      padding: 0px;
      line-height: 12px;
      font-size: 12px;
      white-space: nowrap;
      vertical-align: middle;

      .label {
        margin-right: 2px;
        font-size: 11px;
        font-weight: normal;
        height: 15px;
      }

      > .btn {
        margin-left: 2px;
        margin-right: 2px;
      }

      .control-group {
        margin-bottom: 0px;
      }
    }

    td:first-child {
      border-top: 1px solid transparent;
    }

    &.table-hover tbody tr:hover > td,
    &.table-hover tbody tr:hover > th {
      background-color: rgba(245, 245, 245, 0.5);
    }
  }
}




