/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
.part-browser .Document-decorator .name {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis; }
.part-browser .Document-decorator .embeddedsvg {
  width: 40px;
  position: relative; }
