/**
 * @author pmeijer / https://github.com/pmeijer
 */
.user-profile-container .user-name-field {
  margin-left: 4px;
  margin-right: 4px; }
.user-profile-container .logout-btn {
  cursor: pointer; }
