.dg {
  color: #eeeeee;
  font-family: "Helvetica", "Arial", "sans-serif";
  font-size: 11px;
  text-shadow: 0 -1px 0 #111111;
  background-color: #1a1a1a;
  /** Clear list styles */
  /** Hides closed items */
  /* Controller row, <li> */ }
  .dg ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    clear: both; }
  .dg li {
    -webkit-transition: height 0.1s ease-out;
    -o-transition: height 0.1s ease-out;
    -moz-transition: height 0.1s ease-out;
    transition: height 0.1s ease-out; }
    .dg li:not(.folder) {
      background: #1a1a1a;
      border-bottom: 1px solid #2c2c2c;
      cursor: auto;
      height: 27px;
      line-height: 27px;
      overflow: hidden;
      padding: 0 4px 0 5px; }
    .dg li.folder {
      border-bottom: 0;
      padding: 0;
      border-left: 4px solid rgba(0, 0, 0, 0); }
    .dg li.title {
      padding-left: 16px;
      background: black url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
      cursor: pointer;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      cursor: pointer;
      margin-left: -4px; }
  .dg .closed li:not(.title),
  .dg .closed ul li,
  .dg .closed ul li > * {
    height: 0;
    overflow: hidden;
    border: 0; }
  .dg .closed li.title {
    background-image: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlGIWqMCbWAEAOw==); }
  .dg .cr {
    clear: both;
    padding-left: 3px;
    /*height: $row-height;*/
    /** Name-half (left) */
    /** Controllers */
    /** Controller-half (right) */
    /** Ensure the entire boolean and function row shows a hand */ }
    .dg .cr.boolean {
      border-left: 3px solid #806787; }
    .dg .cr.number {
      border-left: 3px solid #2fa1d6; }
      .dg .cr.number input[type=text] {
        color: #2fa1d6; }
    .dg .cr.string {
      border-left: 3px solid #1ed36f; }
      .dg .cr.string input[type=text] {
        color: #1ed36f; }
    .dg .cr.function:hover, .dg .cr.boolean:hover {
      background: #111; }
    .dg .cr .property-name {
      cursor: default;
      float: left;
      clear: left;
      width: 40%;
      overflow: hidden;
      text-overflow: ellipsis; }
    .dg .cr .c {
      float: left;
      width: 60%;
      height: 20px;
      /** Controller placement */
      /** Shorter number boxes when slider is present. */ }
      .dg .cr .c input[type=text] {
        border: 0;
        margin-top: 4px;
        padding: 3px;
        width: 100%;
        float: right;
        background: #303030;
        outline: none; }
        .dg .cr .c input[type=text]:hover {
          background: #3c3c3c; }
        .dg .cr .c input[type=text]:focus {
          background: #494949;
          color: #fff; }
      .dg .cr .c input,
      .dg .cr .c .dg .c textarea {
        font-size: 12px;
        height: 13px;
        line-height: 17px; }
      .dg .cr .c .has-slider input[type=text] {
        width: 30%;
        /*display: none;*/
        margin-left: 0; }
      .dg .cr .c .slider {
        background: #303030;
        cursor: ew-resize;
        float: left;
        width: 66%;
        margin-left: -5px;
        margin-right: 0;
        height: 19px;
        margin-top: 4px; }
      .dg .cr .c .slider-fg {
        background: #2fa1d6;
        height: 100%; }
      .dg .cr .c .slider:hover {
        background: #3c3c3c; }
        .dg .cr .c .slider:hover .slider-fg {
          background: #44abda; }
      .dg .cr .c input[type=checkbox] {
        margin-top: -2px; }
      .dg .cr .c select {
        margin-top: 5px; }
    .dg .cr.function, .dg .cr.function .property-name, .dg .cr.function *, .dg .cr.boolean, .dg .cr.boolean * {
      cursor: pointer; }
