@import "Connector";

$canvas-canvas-size: 40px; /* MAKE SURE TO ADJUST THE 'CANVAS_SIZE' ATTRIBUTE IN CIRCLEDECORATOR.JS */

.circle-decorator {
  text-align: center;

  .name {
    white-space: nowrap;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
  }

  .circle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }

  #circleCanvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .connector {
    @include connector_basics;

    &.top {
      top: $connector-size / -2;
      left: ( $canvas-canvas-size - $connector-size ) / 2;
    }

    &.bottom {
      top: $canvas-canvas-size - $connector-size / 2;
      left: ( $canvas-canvas-size - $connector-size ) / 2;
    }

    &.left {
      top: ( $canvas-canvas-size - $connector-size ) / 2;
      left: $connector-size / -2;
    }

    &.right {
      top: ( $canvas-canvas-size - $connector-size ) / 2;
      left: $canvas-canvas-size - $connector-size / 2;
    }
  }
}

.onhover {
  .circle-decorator {
    #circleCanvas {
      background-color: #FF0000;
    }
  }
}