.project-info-dialog .modal-content .modal-header .header-icon {
  height: 28px;
  width: 28px;
  margin-right: 1ex;
  display: inline-block;
  vertical-align: middle;
  background-size: 28px 28px;
}
.project-info-dialog .modal-content .modal-header span {
  font-size: 24px;
  vertical-align: middle;
}
.project-info-dialog .modal-content .modal-body fieldset {
  margin-bottom: 15px;
}
.project-info-dialog .modal-content .modal-body fieldset legend {
  font-size: 14px;
  font-weight: bold;
  border-bottom: none;
  margin-bottom: 10px;
}
.project-info-dialog .modal-content .modal-body .form-control-static {
  min-height: 20px;
  padding-top: 7px;
  margin-bottom: 0;
}
.project-info-dialog .modal-content .modal-body .owner-dropdown {
  width: 100%;
}
.project-info-dialog .modal-content .modal-body .owner-dropdown .dropdown-toggle {
  width: 100%;
  text-align: left;
}
.project-info-dialog .modal-content .modal-body .owner-dropdown .dropdown-toggle .caret {
  float: right;
  margin-top: 8px;
}
.project-info-dialog .modal-content .modal-body .save-error {
  margin-top: 10px;
  margin-bottom: 0;
}
