$port-height: 20px;

@mixin attribute() {
  .attr {
    white-space: nowrap;
    position: relative;
    height: $port-height;
    line-height: $port-height;

    &:hover {
      cursor: pointer;
    }
  }
}



