/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
@import "../../../js/Widgets/DiagramDesigner/styles/Connector";

$min-width: 65px;
$height: 40px;
$border: 1px solid #000000;
$background-color: #DEDEDE;
$selected-background-color: #DBEAFC;
$selected-border: 1px solid #52A8EC;

.default-decorator {
  min-width: $min-width;
  height: $height;
  border: $border;
  background-color: $background-color;
  padding: 3px;
  text-align: center;

  .name {
    margin-top: 10px;
    white-space: nowrap;
    font-size: 11px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
  }

  .connector {
    @include connector_basics;
    height: 14px;
    width: 14px;
    margin-left: -8px;
    left: 50%;

    &.top {
      top: -10px;
    }

    &.bottom {
      bottom: -10px;
    }
  }
}

.selected {
  .default-decorator {
    border: $selected-border;
    background-color: $selected-background-color;
  }
}