.icon-meta-containment {
  background-image: url("../../img/metarel.png");
  background-position: 0px 0px; }

.icon-meta-inheritance {
  background-image: url("../../img/metarel.png");
  background-position: -14px 0px; }

.icon-meta-set_validsource {
  background-image: url("../../img/metarel.png");
  background-position: -28px 0px; }

.icon-meta-set_validdestination {
  background-image: url("../../img/metarel.png");
  background-position: -42px 0px; }

.icon-meta-set_general {
  background-image: url("../../img/metarel.png");
  background-position: -56px 0px; }
