/**
 * @author kecso / https://github.com/kecso
 */
.svgselect-widget {
  width: 50px; }
  .svgselect-widget div.btn-group {
    width: 100%; }
    .svgselect-widget div.btn-group button.multiselect {
      font-size: 11px;
      padding: 6px 0;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center; }
    .svgselect-widget div.btn-group.open {
      position: absolute;
      width: inherit; }
    .svgselect-widget div.btn-group ul.svgselect-container.dropdown-menu {
      max-height: 200px;
      min-width: 0;
      padding: 0;
      width: calc(100% - 6px); }
      .svgselect-widget div.btn-group ul.svgselect-container.dropdown-menu li {
        font-size: 11px;
        padding: 0;
        height: 30px;
        border-bottom: none; }
        .svgselect-widget div.btn-group ul.svgselect-container.dropdown-menu li a {
          background-image: none; }
