#Exclude all the icons
Icons/*

#But include the following ones
#MSD example
!Icons/Modelica.Mechanics.Translational.Components.Mass.svg
!Icons/Modelica.Mechanics.Translational.Components.Spring.svg
!Icons/Modelica.Mechanics.Translational.Components.Damper.svg
#ModelicaExamples
!Icons/Modelica.Electrical.Analog.Basic.Resistor.svg
!Icons/Modelica.Electrical.Analog.Sources.ConstantVoltage.svg
!Icons/Modelica.Electrical.Analog.Basic.OpAmpDetailed.svg
!Icons/Modelica.Electrical.Analog.Sources.SineVoltage.svg
!Icons/Modelica.Electrical.Analog.Basic.Ground.svg
