$widget-header-background-color: #EFEFEF;

.widget-base-wh {
  box-sizing: border-box;

  .widget-header {
    padding: 5px;
    height: 30px;
    background-color: $widget-header-background-color;
    overflow: hidden;
    white-space: nowrap;

    .widget-header-title {
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
    }

    .widget-header-toolbar {
      .btn-group {
        margin-left: 10px;
      }

      .btn-group.no-margin {
        margin-left: 0px;
      }
    }
  }

  .widget-body {
    position: relative;
    overflow: auto;
  }
}