$widget-header-background-color: #EFEFEF;

.widget-base-wh {
  box-sizing: border-box;

  .widget-header {
    padding: 5px;
    height: 30px;
    background-color: $widget-header-background-color;
    /*overflow: visible;
    overflow-x: hidden;*/
    white-space: nowrap;

    .widget-header-title {
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
    }

    .widget-header-toolbar {
      .toolbar-group {
        margin-left: 10px;
      }

      select,
      textarea,
      input,
      .uneditable-input {
        margin-bottom: 0px;
      }

      .input-append,
      .input-prepend {
        margin-bottom: 0px;
      }

      li.chkbox {
        .toggle-switch {
          margin-left: 10px;
        }

        &.disabled {
          .toggle-switch {
            opacity: 0.3;
          }
        }
      }
    }
  }

  .widget-body {
    position: relative;
    overflow: auto;
  }
}