a {
  color: #3160ab; }

a:hover {
  color: #00235b; }

.toolbar-container a {
  color: #00235b;
  transition: background-color .2s; }
.toolbar-container a:hover,
.toolbar-container a:active {
  color: #fff;
  background-color: #00235b; }
.toolbar-container .btn:active, .toolbar-container .btn.active {
  background-color: #eee;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.125); }
.toolbar-container .btn.active:hover {
  color: #00235b; }

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background: #00235b;
  border-radius: 0; }
