#projectInfoContainer {
    padding-left: 10px;
}

#projectInfoContainer > .title {
    float: left;
    display: block;
    padding: 8px 20px 12px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    color: #ffffff;
}

#projectInfoContainer > .readOnlyInfo {
    display: none;
    float: left;
    margin-left: -15px;
    margin-top: 11px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: bold;
}

#projectInfoContainer.read-only > .title {
    color: #777777;
}

#projectInfoContainer.read-only > .readOnlyInfo {
    display: block;
    color: #777777;
}