@import "Colors";
@import "../../../js/Widgets/DiagramDesigner/styles/Connector";

$state-min-width: 120px;
$state-max-width: 120px;
$state-height: 55px;
$state-border: 1px solid #000000;
$state-name-padding: 5px;
$state-background-color: #FCFCFC;
$state-name-height: 16px;
$state-border-radius: 13px;

@mixin State {
  .state {
    min-width: $state-min-width;
    max-width: $state-max-width;
    height: $state-height;
    background-color: $state-background-color;
    border: $state-border;
    border-radius: $state-border-radius;

    .name {
      white-space: nowrap;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid #000000;
      height: 16px;
      line-height: 16px;
      padding-left: $state-name-padding;
      padding-right: $state-name-padding;
    }
  }

  .connector {
    @include connector_basics;

    margin-left: $connector-size / -2;
    left: 50%;

    &.top {
      top: $connector-size / -2;
    }

    &.bottom {
      bottom: $connector-size / -2;
    }
  }
}

@mixin SelectedState {
  .state {
    background-color: $selected-background-color;
    border-color: $selected-border-color;
  }
}