@import "Colors";

$transition-width: 120px;
$transition-height: 55px;
$transition-border: 1px solid rgba(0,0,0,0);
$transition-name-padding: 5px;
$transition-background-color: rgba(0,0,0,0);
$transition-name-height: 16px;
$transition-svg-width: $transition-width;
$transition-svg-height: 40px;

@mixin Transition {
  .transition {
    width: $transition-width;
    height: $transition-height;
    background-color: $transition-background-color;
    border: $transition-border;

    .svgContainer {
      width: $transition-svg-width;
      height: $transition-svg-height;
    }

    .name {
      white-space: nowrap;
      font-size: 12px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 16px;
      line-height: 16px;
      padding-left: $transition-name-padding;
      padding-right: $transition-name-padding;
    }
  }
}

@mixin SelectedTransition {
  .transition {
    background-color: $selected-background-color;
    border-color: $selected-border-color;
  }
}