@import "State";
@import "InitialState";
@import "EndState";
@import "State";
@import "Diagram";
@import "Transition";

@import "Colors";

@mixin UMLStateMachine_decorator_core {
  .uml-state-machine {
    position: relative;

    @include InitialState;
    @include EndState;
    @include State;
    @include Diagram;
    @include Transition;

    &.default {
      min-width: 65px;
      height: 40px;
      border: 1px solid #000000;
      padding: 3px;
      background-color: #FCFCFC;
      text-align: center;
      line-height: 40px;

      .name {
        > input {
          font-size: 12px !important;
          line-height: 16px !important;
          height: 16px !important;
        }
      }
    }
  }

  .selected {
    .uml-state-machine {
      @include SelectedInitialState;
      @include SelectedEndState;
      @include SelectedState;
      @include SelectedDiagram;
      @include SelectedTransition;

      &.default {
        background-color: $selected-background-color;
        border-color: $selected-border-color;
      }
    }
  }
}