<div class="import-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Import file</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">

                    <div class="row">
                        <input type="file" id="fileInput" accept=".json">
                    </div>
                    <div class="row">
                        <div class="col-sm-9 controls">
                            Drag-and-drop a file or click on the file icon to upload one below:
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Exported JSON file:</label>

                        <div class="col-sm-9 controls">
                            <div class="widget">
                                <div class="asset-widget file-drop-target">
                                    <span class="uploaded-file-name empty">No file selected</span>
                                    <a class="btn btn-mini btn-dialog-open">
                                        <i class="glyphicon glyphicon-file"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-error"
                         style="margin-top:5px; text-align: center;font-weight: bold; overflow: hidden; text-overflow: ellipsis">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-import" disabled>Import...</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>