<div class="diff">

    <div>
        <p>
            Information is shown below about the conflicts. They have to be resolved to finish the merge.
            The highlighted values will be used for the conflict resolution.
            Click on the row to change the alter the selected value.
        </p>
    </div>

    <div class="commits">
        <span>Base:   </span><span class="base"></span>
        <br>
        <span>Theirs: </span><span class="theirs"></span>
        <br>
        <span>Mine:   </span><span class="mine"></span>
        <br>
        <span>TargetBranch:   </span><span class="branch"></span>
    </div>

    <hr>

    <div class="container-fluid conflicts">

    </div>

</div>