/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
.graph-viz {
  outline: none; }
  .graph-viz .node {
    cursor: pointer; }
  .graph-viz .node circle {
    fill: #FFF;
    stroke: steelblue;
    stroke-width: 1.5px; }
  .graph-viz .node text {
    font: 10px sans-serif; }
  .graph-viz .link {
    fill: none;
    stroke: #CCC;
    stroke-width: 1.5px; }

.graph-viz-zoom-container {
  position: absolute;
  top: 40px;
  left: 10px; }
