/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */

$node-stroke-color: steelblue;
$node-fill-color: #FFF;
$link-stroke-color: #CCC;

.graph-viz {
  outline: none;

  .node {
    cursor: pointer;
  }

  .node circle {
    fill: $node-fill-color;
    stroke: $node-stroke-color;
    stroke-width: 1.5px;
  }

  .node text {
    font: 10px sans-serif;
  }

  .link {
    fill: none;
    stroke: $link-stroke-color;
    stroke-width: 1.5px;
  }
}

.graph-viz-zoom-container {
  position: absolute;
  top: 40px;
  left: 10px;
}