.widget-base-wh {
  box-sizing: border-box; }
  .widget-base-wh .widget-header {
    padding: 5px;
    height: 30px;
    background-color: #efefef;
    /*overflow: visible;
    overflow-x: hidden;*/
    white-space: nowrap; }
    .widget-base-wh .widget-header .ro-icon {
      display: none;
      margin-right: 2px; }
    .widget-base-wh .widget-header .widget-header-title {
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px; }
    .widget-base-wh .widget-header .widget-header-toolbar .toolbar-group {
      margin-left: 10px; }
    .widget-base-wh .widget-header .widget-header-toolbar select,
    .widget-base-wh .widget-header .widget-header-toolbar textarea,
    .widget-base-wh .widget-header .widget-header-toolbar input,
    .widget-base-wh .widget-header .widget-header-toolbar .uneditable-input {
      margin-bottom: 0px; }
    .widget-base-wh .widget-header .widget-header-toolbar .input-append,
    .widget-base-wh .widget-header .widget-header-toolbar .input-prepend {
      margin-bottom: 0px; }
    .widget-base-wh .widget-header .widget-header-toolbar li div.iCheckBox {
      margin-left: 10px; }
  .widget-base-wh .widget-body {
    position: relative;
    overflow: auto;
    background-color: white; }
  .widget-base-wh.read-only .widget-header .ro-icon {
    display: inline-block; }
  .widget-base-wh.read-only .widget-body {
    background-color: #fbfbfb; }

.sidePane .widget-base-wh {
  position: relative;
  padding: 0px;
  margin-bottom: 2px;
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .sidePane .widget-base-wh .widget-header {
    padding: 3px;
    height: 18px;
    background-color: whitesmoke; }
    .sidePane .widget-base-wh .widget-header .widget-header-title {
      font-size: 11px;
      line-height: 18px;
      color: #999;
      text-transform: uppercase;
      margin-right: 0;
      margin-left: 0; }
    .sidePane .widget-base-wh .widget-header .widget-header-toolbar {
      display: block; }
  .sidePane .widget-base-wh .widget-body {
    background-color: whitesmoke; }
  .sidePane .widget-base-wh.read-only .widget-body {
    background-color: #fbfbfb; }
