.widget-base-wh {
  box-sizing: border-box; }
  .widget-base-wh .widget-header {
    padding: 5px;
    height: 30px;
    background-color: #efefef;
    /*overflow: visible;
    overflow-x: hidden;*/
    white-space: nowrap; }
    .widget-base-wh .widget-header .widget-header-title {
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px; }
    .widget-base-wh .widget-header .widget-header-toolbar .toolbar-group {
      margin-left: 10px; }
    .widget-base-wh .widget-header .widget-header-toolbar select,
    .widget-base-wh .widget-header .widget-header-toolbar textarea,
    .widget-base-wh .widget-header .widget-header-toolbar input,
    .widget-base-wh .widget-header .widget-header-toolbar .uneditable-input {
      margin-bottom: 0px; }
    .widget-base-wh .widget-header .widget-header-toolbar .input-append,
    .widget-base-wh .widget-header .widget-header-toolbar .input-prepend {
      margin-bottom: 0px; }
    .widget-base-wh .widget-header .widget-header-toolbar li.chkbox .toggle-switch {
      margin-left: 10px; }
    .widget-base-wh .widget-header .widget-header-toolbar li.chkbox.disabled .toggle-switch {
      opacity: 0.3; }
  .widget-base-wh .widget-body {
    position: relative;
    overflow: auto; }
