ul.drop-down-navigator {

  font-size: 130%;

  padding: 0;
  list-style-type: none;
  color: #fff;

  > li {
    display: inline-block;
    padding: .75ex 1em;

    position: relative;

    > .hierarchical-dropdown {
      display: none;
    }
  }

  > li:hover {
    background-color: #00235B;
    cursor: pointer;

    > .hierarchical-dropdown {
      display: block;
    }

  }

  li.selected {
    background-color: #EFF5FD;
  }

  ul.drop-down-navigator {
    display: inline-block;
  }


  li.gme-root {
    background-image: url(images/gme-icon.png);
    background-position: 8px 3px;
    background-repeat: no-repeat;
    padding-left: 46px;
  }

  li.separator {
    padding: 0;
    cursor: default;
    font-size: 60%;
    top: -2px;
    position: relative;
  }



}