<div class="container-fluid">
    <div class="row table-bordered" ng-repeat="item in items">
        <div class="col-md-2"><label style="width:100%"><b>{{item.info}}</b></label></div>
        <div class="col-md-5" ng-click="item.selected='mine'">
            <input type="radio" name={{item.id}} value="mine" checked ng-model="item.selected">
            <label style="width:100%">{{item.mine.info}}</label>
        </div>
        <div class="col-md-5" ng-click="item.selected='theirs'">
            <input type="radio" name={{item.id}} value="theirs" checked ng-model="item.selected">
            <label style="width:100%">{{item.theirs.info}}</label>
        </div>
    </div>
