<div class="projects-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <i class="header-icon gme-icon"></i><span>Projects</span>
            </div>
            <div class="pre-body">
                <div class="tabContainer"></div>
            </div>
            <div class="modal-body">
                <table class="table table-projects">
                    <thead>
                        <tr class="with-children">
                            <th class="title-owner">Owner
                                <i class="glyphicon glyphicon-sort-by-attributes-alt sorted in-order"/>
                                <i class="glyphicon glyphicon-sort-by-attributes sorted rev-order"/>
                            </th>
                            <th class="title-name">Name
                                <i class="glyphicon glyphicon-sort-by-attributes-alt sorted in-order"/>
                                <i class="glyphicon glyphicon-sort-by-attributes sorted rev-order"/>
                            </th>
                            <th class="title-modified">Last Modified
                                <i class="glyphicon glyphicon-sort-by-attributes-alt sorted in-order"/>
                                <i class="glyphicon glyphicon-sort-by-attributes sorted rev-order"/>
                            </th>
                            <th class="title-viewed extra-info info-hidden">Last Viewed
                                <i class="glyphicon glyphicon-sort-by-attributes-alt sorted in-order"/>
                                <i class="glyphicon glyphicon-sort-by-attributes sorted rev-order"/>
                            </th>
                            <th class="title-created extra-info info-hidden">Created
                                <i class="glyphicon glyphicon-sort-by-attributes-alt sorted in-order"/>
                                <i class="glyphicon glyphicon-sort-by-attributes sorted rev-order"/>
                            </th>
                            <th class="title-icons">
                                <i class="btn btn-micro btn-default btn-info-toggle glyphicon glyphicon-plus" title="Show/Hide Info"/>
                            </th>
                        </tr>
                        <tr class="with-no-children">
                            <th>No projects in this group...</th>
                        </tr>
                    </thead>
                    <tbody class="project-list">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="panel-buttons">
                    <button class="btn btn-default pull-left btn-refresh" title="Reload project list..."
                            style="position: relative;"><i class="glyphicon glyphicon-refresh"></i></button>
                    <button class="btn btn-default pull-left btn-create-new">Create new...</button>
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <div class="panel-create-new control-group">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="selected-owner-id" title="Owner of New Project">Username</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu ownerId-list">
                            </ul>
                        </div><!-- /btn-group -->
                        <input type="text" class="input-xlarge txt-project-name form-control"
                               placeholder="Project name..." />
                    </div><!-- /input-group -->

                    <button class="btn btn-primary btn-save corner-button" disabled>Create</button>
                    <button class="btn btn-default btn-cancel corner-button">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>