/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */

$progress-image-url: url("../../../../img/progress.gif");
$focused-node-background-color: #a3d7f3;
$selected-node-background-color: #BEEBFF;
$selected-node-border-color: #99DEFD;
$node-progress-font-color: #AAAAAA;

/*IMPORTS*/

/* original FancyTree Vista-theme css from FancyTree distribution */
@import url("./../../../../css/fancytree/ui.fancytree.css");
@import url("./../../../../css/contextmenu/jquery.contextMenu.min.css");

.tree-browser {
  /* FancyTree Vista-theme overrides */
  ul.fancytree-container {
    overflow: visible !important;
    padding-bottom: 0 !important;
    height: auto;
    font-size: 13px;
    background-color: transparent;
    border: none;

    a {
      border: 1px solid transparent;
    }
  }

  .fancytree-has-children span.fancytree-icon /* Default icon */
   {
    background-position: 0px -16px;
  }

  span.fancytree-icon /* Default icon */
   {
    margin-top: 1px;
    cursor: pointer;
  }

  .fancytree-loading span.fancytree-expander  /* 'Loading' status overrides all others */
   {
    background-position: 0 0;
    background-image: $progress-image-url;
  }

  ul.fancytree-container a:focus,
  span.fancytree-focused a:link  /* @IE */
   {
    background-color: transparent;
    outline: none;
  }
  /* END OF --- FancyTree Vista-theme overrides */


  /* OWN STYLES */
  .filter-container {
    margin: 1px;
    padding-top: 1px;

    .filter-form {
      .filter-toggle-buttons {
        margin-right: 3px;
        button.active {
          //color: red;
        }
        button {
          line-height: 1;
        }
      }
      .input-filter-type {
        label.btn {
          font-weight: bold;
        }
      }
    }
    &.collapsed {
      .filter-form {
        display: none;
      }
      i.collapse-filter {
        display: none;
      }
      i.expand-filter {
        display: inline-block;
      }
    }
    i.collapse-filter {
      display: inline-block;
    }
    i.expand-filter {
      display: none;
    }
    .btn-hide-show-filters {
      position: relative;
      z-index: 1; // This brings it ontop of the tree.
    }
    .btn {
      margin-bottom: 1px;
      &.btn-hide-show-filters {
        padding-left: 3px;
        .filter-icon {
          padding-left: 3px;
        }
      }
    }

  }

  span.all-filtered-out {
    padding: 12px;
    color: #AAA;
    font-style: italic;
  }

  i.gme-connection {
    background: url("../../../../img/gmeicons.png") 0 0;
    background-position: -64px 0 !important;
    width: 16px;
    height: 16px;
  }

  i.gme-atom {
    background: url("../../../../img/gmeicons.png") 0 0;
    background-position: -16px 0 !important;
    width: 16px;
    height: 16px;
  }

  .fa {
    line-height: 18px;
  }

  ul.fancytree-container {
    outline-width: 0;
    li {
      line-height: 16px;
      outline-width: 0;

      span.fancytree-node {

        span.fancytree-title {
          margin-left: 0;

          input[type=text] {
            padding: 0;
            font-size: 12px !important;
            line-height: 12px;
            margin-top: -3px !important;
            width: 100px !important;
          }
        }
        span.fancytree-title:hover {
          background-color: #F2F7FD;
          border-color: #F2F7FD;
        }

        &.fancytree-selected {

          span.fancytree-title {
            font-style: normal;
            background: $selected-node-background-color;
            border: 1px solid $selected-node-border-color;
          }

          &.fancytree-focused {
            span.fancytree-title {
              background: $focused-node-background-color;
              outline: none;
            }
          }

          &.fancytree-active {
            span.fancytree-title {
              font-style: normal;
              background: $selected-node-background-color;
              border: 1px solid $selected-node-border-color;
            }
            &.fancytree-focused {
              span.fancytree-title {
                background: $focused-node-background-color;
                outline: none;
              }
            }
          }
        }

        &.fancytree-active {
          span.fancytree-title {
            font-style: normal;
            background: transparent;
            border: 1px solid transparent;
            outline: none;
          }
        }

        &.fancytree-focus {
          span.fancytree-title {
            background: transparent;
            outline: none;
          }
        }

        /* 'Loading' node style with italic gray font and progress bar icon */
        &.node-progress {

          span.fancytree-title {
            color: $node-progress-font-color;
            font-style: italic;
          }

          span.fancytree-icon {
            background: $progress-image-url 0 0;
          }
        }
      }
    }
  }
}

.context-menu-list {

  li.context-menu-item {
    display: list-item;

    &.icon {
      width: auto;
    }
  }

  .context-menu-item.icon-edit {
    background-image: url(../../../../img/edit.png);
  }
  .context-menu-item.icon-cut {
    background-image: url(../../../../img/cut.png);
  }
  .context-menu-item.icon-copy {
    background-image: url(../../../../img/copy.png);
  }
  .context-menu-item.icon-paste {
    background-image: url(../../../../img/paste.png);
  }
  .context-menu-item.icon-delete {
    background-image: url(../../../../img/delete.png);
  }
  .context-menu-item.icon-add {
    background-image: url(../../../../img/create.png);
  }
}
