/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */

$progress-image-url: url("../../../../img/progress.gif");
$focused-node-background-color: #a3d7f3;
$selected-node-background-color: #BEEBFF;
$selected-node-border-color: #99DEFD;
$node-progress-font-color: #AAAAAA;

/*IMPORTS*/

/* original DynaTree Vista-theme css from DynaTree distribution */
@import url("./../../../../css/dynatree/ui.dynatree.css");
@import url("./../../../../css/contextmenu/jquery.contextMenu.css");

.tree-browser {
  /* DynaTree Vista-theme overrides */
  ul.dynatree-container {
    overflow: visible !important;
    padding-bottom: 0 !important;
    height: auto;
    font-size: 13px;
    background-color: transparent;
    border: none;

    a {
      border: 1px solid transparent;
    }
  }

  .dynatree-has-children span.dynatree-icon /* Default icon */
   {
    background-position: 0px -16px;
  }

  span.dynatree-icon /* Default icon */
   {
    margin-top: 1px;
    cursor: pointer;
  }

  .dynatree-loading span.dynatree-expander  /* 'Loading' status overrides all others */
   {
    background-position: 0 0;
    background-image: $progress-image-url;
  }

  ul.dynatree-container a:focus,
  span.dynatree-focused a:link  /* @IE */
   {
    background-color: transparent;
    outline: none;
  }
  /* END OF --- DynaTree Vista-theme overrides */

  /* OWN STYLES */
  ul.dynatree-container {

    li {
      line-height: 16px;

      span.dynatree-node {

        a.dynatree-title {
          margin-left: 0;

          input[type=text] {
            padding: 0;
            font-size: 12px !important;
            line-height: 12px;
            margin-top: -3px !important;
            width: 100px !important;
          }
        }

        &.dynatree-selected {

          a.dynatree-title {
            font-style: normal;
            background: $selected-node-background-color;
            border: 1px solid $selected-node-border-color;
          }

          &.dynatree-focused {
            a.dynatree-title {
              background: $focused-node-background-color;
            }
          }
        }

        /* 'Loading' node style with italic gray font and progress bar icon */
        &.node-progress {

          a.dynatree-title {
            color: $node-progress-font-color;
            font-style: italic;
          }

          span.dynatree-icon {
            background: $progress-image-url 0 0;
          }
        }
      }
    }
  }
}

.context-menu-list {

  li.context-menu-item {
    display: list-item;

    &.icon {
      width: auto;
    }
  }

  .context-menu-item.icon-edit {
    background-image: url(../../../../img/edit.png);
  }
  .context-menu-item.icon-cut {
    background-image: url(../../../../img/cut.png);
  }
  .context-menu-item.icon-copy {
    background-image: url(../../../../img/copy.png);
  }
  .context-menu-item.icon-paste {
    background-image: url(../../../../img/paste.png);
  }
  .context-menu-item.icon-delete {
    background-image: url(../../../../img/delete.png);
  }
  .context-menu-item.icon-add {
    background-image: url(../../../../img/create.png);
  }
}

