/**
 * @author pmeijer / https://github.com/pmeijer
 */


/*IMPORTS*/

.tree-browser {

  /* OWN STYLES */
  .filter-container {
    margin: 1px;
    padding-top: 1px;

    .filter-form {
      .filter-toggle-buttons {
        margin-right: 3px;
        button.active {
          //color: red;
        }
        button {
          line-height: 1;
        }
      }
      .input-filter-type {
        label.btn {
          font-weight: bold;
        }
      }
    }
    &.collapsed {
      .filter-form {
        display: none;
      }
      i.collapse-filter {
        display: none;
      }
      i.expand-filter {
        display: inline-block;
      }
    }
    i.collapse-filter {
      display: inline-block;
    }
    i.expand-filter {
      display: none;
    }
    .btn-hide-show-filters {
      position: relative;
      z-index: 1; // This brings it ontop of the tree.
    }
    .btn {
      margin-bottom: 1px;
      &.btn-hide-show-filters {
        padding-left: 3px;
        .filter-icon {
          padding-left: 3px;
        }
      }
    }

  }

  span.all-filtered-out {
    padding: 12px;
    color: #AAA;
    font-style: italic;
  }

  .fa {
    line-height: 18px;
  }
}
