/**
 * @author pmeijer / https://github.com/pmeijer
 */
/*IMPORTS*/
.tree-browser {
  /* OWN STYLES */ }
  .tree-browser .filter-container {
    margin: 1px;
    padding-top: 1px; }
    .tree-browser .filter-container .filter-form .filter-toggle-buttons {
      margin-right: 3px; }
      .tree-browser .filter-container .filter-form .filter-toggle-buttons button {
        line-height: 1; }
    .tree-browser .filter-container .filter-form .input-filter-type label.btn {
      font-weight: bold; }
    .tree-browser .filter-container.collapsed .filter-form {
      display: none; }
    .tree-browser .filter-container.collapsed i.collapse-filter {
      display: none; }
    .tree-browser .filter-container.collapsed i.expand-filter {
      display: inline-block; }
    .tree-browser .filter-container i.collapse-filter {
      display: inline-block; }
    .tree-browser .filter-container i.expand-filter {
      display: none; }
    .tree-browser .filter-container .btn-hide-show-filters {
      position: relative;
      z-index: 1; }
    .tree-browser .filter-container .btn {
      margin-bottom: 1px; }
      .tree-browser .filter-container .btn.btn-hide-show-filters {
        padding-left: 3px; }
        .tree-browser .filter-container .btn.btn-hide-show-filters .filter-icon {
          padding-left: 3px; }
  .tree-browser span.all-filtered-out {
    padding: 12px;
    color: #AAA;
    font-style: italic; }
  .tree-browser .fa {
    line-height: 18px; }