/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
/*IMPORTS*/
/* original DynaTree Vista-theme css from DynaTree distribution */
@import url("./../../../../css/dynatree/ui.dynatree.css");
@import url("./../../../../css/contextmenu/jquery.contextMenu.css");
.tree-browser {
  /* DynaTree Vista-theme overrides */
  /* END OF --- DynaTree Vista-theme overrides */
  /* OWN STYLES */ }
  .tree-browser ul.dynatree-container {
    overflow: visible !important;
    padding-bottom: 0 !important;
    height: auto;
    font-size: 13px;
    background-color: transparent;
    border: none; }
    .tree-browser ul.dynatree-container a {
      border: 1px solid transparent; }
  .tree-browser .dynatree-has-children span.dynatree-icon {
    background-position: 0px -16px; }
  .tree-browser span.dynatree-icon {
    margin-top: 1px;
    cursor: pointer; }
  .tree-browser .dynatree-loading span.dynatree-expander {
    background-position: 0 0;
    background-image: url("../../../../img/progress.gif"); }
  .tree-browser ul.dynatree-container a:focus,
  .tree-browser span.dynatree-focused a:link {
    background-color: transparent;
    outline: none; }
  .tree-browser ul.dynatree-container li {
    line-height: 16px; }
    .tree-browser ul.dynatree-container li span.dynatree-node {
      /* 'Loading' node style with italic gray font and progress bar icon */ }
      .tree-browser ul.dynatree-container li span.dynatree-node a.dynatree-title {
        margin-left: 0; }
        .tree-browser ul.dynatree-container li span.dynatree-node a.dynatree-title input[type=text] {
          padding: 0;
          font-size: 12px !important;
          line-height: 12px;
          margin-top: -3px !important;
          width: 100px !important; }
      .tree-browser ul.dynatree-container li span.dynatree-node.dynatree-selected a.dynatree-title {
        font-style: normal;
        background: #beebff;
        border: 1px solid #99defd; }
      .tree-browser ul.dynatree-container li span.dynatree-node.dynatree-selected.dynatree-focused a.dynatree-title {
        background: #a3d7f3; }
      .tree-browser ul.dynatree-container li span.dynatree-node.node-progress a.dynatree-title {
        color: #aaaaaa;
        font-style: italic; }
      .tree-browser ul.dynatree-container li span.dynatree-node.node-progress span.dynatree-icon {
        background: url("../../../../img/progress.gif") 0 0; }

.context-menu-list li.context-menu-item {
  display: list-item; }
  .context-menu-list li.context-menu-item.icon {
    width: auto; }
.context-menu-list .context-menu-item.icon-edit {
  background-image: url(../../../../img/edit.png); }
.context-menu-list .context-menu-item.icon-cut {
  background-image: url(../../../../img/cut.png); }
.context-menu-list .context-menu-item.icon-copy {
  background-image: url(../../../../img/copy.png); }
.context-menu-list .context-menu-item.icon-paste {
  background-image: url(../../../../img/paste.png); }
.context-menu-list .context-menu-item.icon-delete {
  background-image: url(../../../../img/delete.png); }
.context-menu-list .context-menu-item.icon-add {
  background-image: url(../../../../img/create.png); }
