$attribute-height: 16px;

@mixin attribute() {
  .attr {
    white-space: nowrap;
    position: relative;
    height: $attribute-height;
    line-height: $attribute-height;

    &:hover {
      cursor: pointer;
    }

    .n {
      float: left;
      margin-right: 3px;
    }

    .t {
      float: right;
    }
  }
}



