@import "../../../scss/Widgets/DiagramDesigner/Connector";
@import "Attribute";
@import "Constraint";

$min-width: 90px;
$height: 40px;
$border: 1px solid #000000;
$padding: 0 17px 0 17px;
$background-color: #FFFFFF;
$selected-background-color: lighten($background-color, 10);
$selected-border: 1px solid #52A8EC;
$attributes-add-new-hover-background-color: #DBEAFC;
$selected-attributes-add-new-hover-background-color: #FFFFC0;
$attribute-height: 16px;
$hover-background-color: #EEE;
$section-title-background-color: #F3F3F3;
$abstract-class-name-color: #AAAAAA;

.meta-decorator {
  min-width: $min-width;
  min-height: $height;
  border: $border;
  background-color: $background-color;
  text-align: center;

  .name {
    white-space: nowrap;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #000000;
    padding: $padding;

    input {
      height: 16px !important;
      line-height: 16px !important;
      font-size: 11px !important;
    }
  }

  .attributes,
  .constraints{
    font-size: 10px;
    min-height: 1px;
    margin-bottom: 0;
    padding: $padding;

    li {
      div {
        white-space: nowrap;
        position: relative;
        height: $attribute-height;
        line-height: $attribute-height;

        &:hover {
          cursor: pointer;
          background-color: $hover-background-color;
        }

        .n {
          float: left;
          margin-right: 3px;
          max-width: 90px;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
        }

        .t {
          float: right;
          text-align: right;
        }
      }
    }
  }

  .attributes {
    @include attribute();
  }

  .constraints {
    @include constraint();
  }

  .add-new-attribute,
  .add-new-constraint {
    font-size: 10px;
    cursor: pointer;

    &:hover {
      background-color: $attributes-add-new-hover-background-color;
    }
  }

  .attributes-title,
  .constraints-title {
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: $section-title-background-color;
    line-height: 13px;
  }

  .constraints-title {
    border-top: 1px dashed #999999;
  }

  input[type=text].new-attr {
    font-size: 10px;
  }

  .control-group {
    margin-bottom: 0;
  }

  .connector {
    @include connector_basics;

    margin-left: $connector-size / -2;
    left: 50%;

    &.top {
      top: $connector-size / -2;
    }

    &.bottom {
      bottom: $connector-size / -2;
    }
  }

  .text-meta {
    position: absolute;
    top: 0;
    right: 1px;
    height: 15px;
    width: 15px;
    margin-top: 2px;
    border-radius: 5px;
  }

  &.abstract {
    .name {
      font-style:italic;
      color: $abstract-class-name-color;
    }
  }
}

.selected {
  .meta-decorator {
    border: $selected-border;
    background-color: $selected-background-color;

    .add-new-attribute,
    .add-new-constraint {
      &:hover {
        background-color: $selected-attributes-add-new-hover-background-color;
      }
    }
  }
}

.items {
  &.highlight-mode {
    .meta-decorator {
      .attributes,
      .constraints {
        li {
          div {
            &:hover {
              cursor: default;
              background-color: $background-color;
            }
          }
        }
      }
    }
  }
}
