@import "../../../scss/Widgets/DiagramDesigner/Connector";
@import "Attribute";

$min-width: 90px;
$height: 40px;
$border: 2px solid #000000;
$padding: 0 3px 0 3px;
$background-color: #FFFFFF;
$selected-background-color: lighten($background-color, 10);
$selected-border: 2px solid #52A8EC;
$attributes-background-color: rgba(255, 255, 0, 0.5);
$attributes-add-new-hover-background-color: #DBEAFC;
$selected-attributes-add-new-hover-background-color: #FFFFC0;

.meta-decorator {
  min-width: $min-width;
  min-height: $height;
  border: $border;
  background-color: $background-color;
  text-align: center;

  .name {
    white-space: nowrap;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #000000;
    padding: $padding;
  }

  .attributes {
    /*background-color: $attributes-background-color;*/
    font-size: 10px;
    min-height: 1px;
    margin-bottom: 0;
    padding: $padding;

    @include attribute();
  }

  .add-new {
    font-size: 10px;
    cursor: pointer;

    [class^="icon-"],
    [class*=" icon-"] {
      margin-top: -1px;
    }

    &:hover {
      background-color: $attributes-add-new-hover-background-color;
    }
  }

  input[type=text].new-attr {
    font-size: 10px;
  }

  .control-group {
    margin-bottom: 0;
  }

  .connector {
    @include connector_basics;

    margin-left: $connector-size / -2;
    left: 50%;

    &.top {
      top: $connector-size / -2;
    }

    &.bottom {
      bottom: $connector-size / -2;
    }
  }
}

.selected {
  .meta-decorator {
    border: $selected-border;
    background-color: $selected-background-color;

    .add-new {
      &:hover {
        background-color: $selected-attributes-add-new-hover-background-color;
      }
    }
  }
}