/*
Syntax error: File to import not found or unreadable: Connector.
              Load paths:
                /home/brian/Programming/snap_gme/webgme/utils/build (DEPRECATED)
                /home/brian/Programming/snap_gme/webgme
        on line 1 of ../../src/client/js/Widgets/SnapEditor/styles/SnapEditorWidget.scss

1: @import "Connector";
2: 
3: $snap-editor-selection-outline-background-color: rgba(255, 255, 0, 0.05);
4: $snap-editor-selection-outline-border: rgba(0,0,0,0.5) dashed 1px;
5: $snap-editor-selection-outline-shadow-start: rgba(0, 0, 0, 0.075);
6: $snap-editor-selection-outline-shadow-end: rgba(0, 0, 0, 0.3);

Backtrace:
../../src/client/js/Widgets/SnapEditor/styles/SnapEditorWidget.scss:1
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/import_node.rb:66:in `rescue in import'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/import_node.rb:45:in `import'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:283:in `visit_import'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/stack.rb:79:in `block in with_base'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/stack.rb:121:in `with_frame'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/stack.rb:79:in `with_base'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:152:in `visit'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:52:in `map'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:151:in `visit'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/tree/root_node.rb:20:in `render'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/engine.rb:274:in `render'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:186:in `each'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:357:in `on_file_changed'
/home/brian/.gem/ruby/2.1.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:250:in `block in watch'
/home/brian/.gem/ruby/2.1.0/gems/listen-1.3.1/lib/listen/listener.rb:252:in `call'
/home/brian/.gem/ruby/2.1.0/gems/listen-1.3.1/lib/listen/listener.rb:252:in `on_change'
/home/brian/.gem/ruby/2.1.0/gems/listen-1.3.1/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/brian/.gem/ruby/2.1.0/gems/listen-1.3.1/lib/listen/adapter.rb:252:in `call'
/home/brian/.gem/ruby/2.1.0/gems/listen-1.3.1/lib/listen/adapter.rb:252:in `report_changes'
/home/brian/.gem/ruby/2.1.0/gems/listen-1.3.1/lib/listen/adapter.rb:321:in `poll_changed_directories'
/home/brian/.gem/ruby/2.1.0/gems/listen-1.3.1/lib/listen/adapter.rb:297:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: Connector.\A               Load paths:\A                 /home/brian/Programming/snap_gme/webgme/utils/build (DEPRECATED)\A                 /home/brian/Programming/snap_gme/webgme\A         on line 1 of ../../src/client/js/Widgets/SnapEditor/styles/SnapEditorWidget.scss\A \A 1: @import \"Connector\";\A 2: \A 3: $snap-editor-selection-outline-background-color: rgba(255, 255, 0, 0.05);\A 4: $snap-editor-selection-outline-border: rgba(0,0,0,0.5) dashed 1px;\A 5: $snap-editor-selection-outline-shadow-start: rgba(0, 0, 0, 0.075);\A 6: $snap-editor-selection-outline-shadow-end: rgba(0, 0, 0, 0.3);"; }
