/*error decorator properties*/
.diagram-designer {
  outline: none; }
  .diagram-designer .items {
    position: absolute; }
    .diagram-designer .items .designer-item,
    .diagram-designer .items .designer-connection {
      cursor: pointer; }
      .diagram-designer .items .designer-item.selected,
      .diagram-designer .items .designer-connection.selected {
        z-index: 1; }
    .diagram-designer .items .rubberband {
      background: rgba(219, 234, 252, 0.49);
      border: #52A8EC solid 1px;
      z-index: 100000; }
    .diagram-designer .items .selection-outline {
      background: rgba(255, 255, 0, 0.05);
      border: rgba(0, 0, 0, 0.5) dashed 1px;
      position: absolute;
      pointer-events: none;
      z-index: 100;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 0 4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(0, 0, 0, 0.3); }
      .diagram-designer .items .selection-outline .s-btn {
        position: absolute;
        background-color: #FFFFFF;
        border: none;
        line-height: 14px;
        padding: 3px 4px;
        border-radius: 4px;
        pointer-events: all;
        cursor: pointer;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 0 4px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(0, 0, 0, 0.3);
        background-color: #000;
        color: #fff; }
        .diagram-designer .items .selection-outline .s-btn.delete {
          top: -13px;
          right: -13px; }
        .diagram-designer .items .selection-outline .s-btn.rotate.bottom {
          left: 50%;
          margin-left: -13px;
          bottom: -13px; }
        .diagram-designer .items .selection-outline .s-btn.contextmenu {
          bottom: -13px;
          right: -13px; }
        .diagram-designer .items .selection-outline .s-btn.align {
          bottom: -13px;
          left: -13px; }
        .diagram-designer .items .selection-outline .s-btn.move {
          top: -13px;
          left: -13px;
          margin-left: -13px; }
        .diagram-designer .items .selection-outline .s-btn.open {
          top: -13px;
          left: -13px; }
        .diagram-designer .items .selection-outline .s-btn:hover {
          background-color: #428bca; }
      .diagram-designer .items .selection-outline .rotation-deg {
        text-align: center;
        vertical-align: middle;
        position: absolute;
        width: 100%;
        height: 30px;
        margin-top: -15px;
        top: 50%;
        line-height: 30px;
        font-size: 30px;
        color: #666666; }
    .diagram-designer .items .connection-connector.connector {
      background-color: #FEFEFE;
      height: 10px;
      width: 10px;
      position: absolute;
      cursor: pointer;
      border: 1px solid #0000FF;
      z-index: 10;
      background-color: #FFFFFF;
      border-radius: 10px;
      height: 6px;
      width: 6px;
      margin-left: -4px;
      margin-top: -4px; }
      .diagram-designer .items .connection-connector.connector:hover {
        border-color: rgba(82, 168, 236, 0.8);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
    .diagram-designer .items .c-area {
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #000000;
      border-radius: 4px;
      margin-top: -4px;
      margin-left: -4px; }
    .diagram-designer .items .c-d-end {
      background-color: #FEFEFE;
      height: 10px;
      width: 10px;
      position: absolute;
      cursor: pointer;
      border: 1px solid #0000FF;
      z-index: 10;
      margin-top: -6px;
      margin-left: -6px;
      line-height: 10px;
      font-size: 8px;
      text-align: center;
      font-weight: bold;
      font-family: Verdana; }
      .diagram-designer .items .c-d-end:hover {
        border-color: rgba(82, 168, 236, 0.8);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
      .diagram-designer .items .c-d-end.src {
        border-color: #FF0000;
        color: #FF0000; }
      .diagram-designer .items .c-d-end.dst {
        border-color: #0000FF;
        color: #0000FF; }
    .diagram-designer .items .error-decorator {
      background-color: #F2DEDE;
      padding: 3px;
      text-align: center;
      border: 2px solid #000000; }
    .diagram-designer .items svg.connection-container {
      z-index: -1; }
      .diagram-designer .items svg.connection-container .designer-connection.designer-connection-shadow.connection-hover, .diagram-designer .items svg.connection-container .designer-connection.designer-connection-shadow:hover {
        opacity: 0.5 !important; }
      .diagram-designer .items svg.connection-container .new-segment-point-marker {
        pointer-events: none;
        fill: #FFFF00;
        stroke: #FF0000; }
      .diagram-designer .items svg.connection-container .path-edit-segment {
        stroke: transparent;
        opacity: 0; }
      .diagram-designer .items svg.connection-container .segment-point {
        fill: #FFFF00;
        stroke: #000000;
        cursor: pointer; }
        .diagram-designer .items svg.connection-container .segment-point:hover {
          fill: #FF7800; }
      .diagram-designer .items svg.connection-container .segment-point-move-path {
        stroke: #FF7800; }
      .diagram-designer .items svg.connection-container .segment-point-bezier-control {
        fill: #FFFFFF;
        stroke: #000000;
        cursor: pointer; }
        .diagram-designer .items svg.connection-container .segment-point-bezier-control:hover {
          fill: #FF7800; }
    .diagram-designer .items div.c-t {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0; }
      .diagram-designer .items div.c-t div.c-text {
        position: absolute;
        font-size: 10px;
        white-space: nowrap; }
        .diagram-designer .items div.c-t div.c-text .c-name {
          position: relative;
          left: -50%;
          cursor: default; }
          .diagram-designer .items div.c-t div.c-text .c-name.v {
            left: 1px; }
        .diagram-designer .items div.c-t div.c-text input {
          height: 20px !important;
          min-width: 50px; }
      .diagram-designer .items div.c-t.is-selected .c-text .c-name,
      .diagram-designer .items div.c-t.is-selected .c-text .c-dst,
      .diagram-designer .items div.c-t.is-selected .c-text .c-src {
        background-color: #B9DCF7;
        padding: 2px 2px 2px 2px;
        margin-left: -2px;
        border-radius: 2px;
        z-index: 4; }
        .diagram-designer .items div.c-t.is-selected .c-text .c-name.editing,
        .diagram-designer .items div.c-t.is-selected .c-text .c-dst.editing,
        .diagram-designer .items div.c-t.is-selected .c-text .c-src.editing {
          z-index: -3; }
        .diagram-designer .items div.c-t.is-selected .c-text .c-name.v,
        .diagram-designer .items div.c-t.is-selected .c-text .c-dst.v,
        .diagram-designer .items div.c-t.is-selected .c-text .c-src.v {
          left: 1px; }
    .diagram-designer .items.highlight-mode .designer-item,
    .diagram-designer .items.highlight-mode .designer-connection,
    .diagram-designer .items.highlight-mode .c-t {
      opacity: 0.1;
      cursor: pointer; }
    .diagram-designer .items.highlight-mode .designer-item.highlighted,
    .diagram-designer .items.highlight-mode .designer-connection.highlighted,
    .diagram-designer .items.highlight-mode .c-t.highlighted {
      opacity: 1.0; }
    .diagram-designer .items.connection-drawing .connector:hover {
      background-color: #00FF00; }
  .diagram-designer .drop-region {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0; }
    .diagram-designer .drop-region.accept-droppable {
      background-color: rgba(0, 255, 0, 0.1); }
    .diagram-designer .drop-region.reject-droppable {
      background-color: rgba(255, 0, 0, 0.1); }

.diagram-designer-zoom-container {
  position: absolute;
  top: 40px;
  left: 10px; }

.w-tabs .diagram-designer-zoom-container {
  top: 70px; }

div.diagram-designer-drag-outline {
  white-space: nowrap; }

/* TABS CONTAINER */
.active-panel .diagram-designer-tabs-container {
  background-color: #F7FAFF; }

.diagram-designer-tabs-container {
  position: absolute;
  left: 0;
  top: 3px;
  width: 100%;
  height: 26px;
  background-color: #FDFDFD;
  padding-top: 1px; }
  .diagram-designer-tabs-container > div {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap; }
  .diagram-designer-tabs-container div.add-tab-container {
    border-bottom: 1px solid #ddd;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 0; }
  .diagram-designer-tabs-container div.add-tab-container > div {
    display: inline-block;
    margin-right: 3px; }
  .diagram-designer-tabs-container div.add-tab-container ul.dropdown-menu li a [class^="icon-"],
  .diagram-designer-tabs-container div.add-tab-container ul.dropdown-menu li a [class*=" icon-"] {
    margin-left: -17px;
    margin-right: 3px; }
  .diagram-designer-tabs-container .btn {
    padding: 0 12px; }
  .diagram-designer-tabs-container div.tab-list-container {
    width: 100%;
    overflow: hidden; }
    .diagram-designer-tabs-container div.tab-list-container ul.nav {
      position: relative;
      margin-bottom: 0px;
      height: 24px; }
      .diagram-designer-tabs-container div.tab-list-container ul.nav.nav-tabs > li {
        display: inline-block;
        float: none; }
        .diagram-designer-tabs-container div.tab-list-container ul.nav.nav-tabs > li > a {
          padding-top: 5px;
          padding-bottom: 5px;
          line-height: 13px; }
          .diagram-designer-tabs-container div.tab-list-container ul.nav.nav-tabs > li > a .tab-title {
            white-space: nowrap;
            display: inline-block;
            max-width: 120px;
            overflow: hidden;
            text-overflow: ellipsis; }
            .diagram-designer-tabs-container div.tab-list-container ul.nav.nav-tabs > li > a .tab-title input {
              min-width: 50px !important; }
          .diagram-designer-tabs-container div.tab-list-container ul.nav.nav-tabs > li > a i.delete-tab-btn {
            cursor: pointer;
            font-size: 100%;
            margin-left: 5px; }
            .diagram-designer-tabs-container div.tab-list-container ul.nav.nav-tabs > li > a i.delete-tab-btn:hover {
              color: #b30404; }
          .diagram-designer-tabs-container div.tab-list-container ul.nav.nav-tabs > li > a [class^="icon-"],
          .diagram-designer-tabs-container div.tab-list-container ul.nav.nav-tabs > li > a [class*=" icon-"] {
            margin-top: -2px;
            margin-left: 2px;
            cursor: pointer;
            display: none; }
        .diagram-designer-tabs-container div.tab-list-container ul.nav.nav-tabs > li.active > a [class^="icon-"],
        .diagram-designer-tabs-container div.tab-list-container ul.nav.nav-tabs > li.active > a [class*=" icon-"] {
          display: inline-block; }
      .diagram-designer-tabs-container div.tab-list-container ul.nav.nav-tabs.ui-sortable li.ui-sortable-placeholder {
        height: 0px !important; }
      .diagram-designer-tabs-container div.tab-list-container ul.nav.nav-tabs.ui-sortable li.ui-sortable-helper {
        top: 0px !important;
        pointer-events: none; }

.read-only .diagram-designer-tabs-container div.tab-list-container ul.nav.nav-tabs > li.active > a [class^="icon-"],
.read-only .diagram-designer-tabs-container div.tab-list-container ul.nav.nav-tabs > li.active > a [class*=" icon-"] {
  display: none; }

.rotate-options {
  top: -52px;
  left: 16px;
  display: none; }
