.repository-dialog {
  .modal-header {
    span.title-container {
      display: flex;

      span.project-repository-title {
        font-size: 24px;
        white-space: nowrap;
      }

      select {
        font-size: 14px;
        margin-right: 2ex;
        margin-left: 4ex;
      }
    }
  }
}