@import "_Colors";
@import "../../../js/Widgets/DiagramDesigner/styles/Connector";

$initial-state-background-color: #000000;
$initial-state-size: 20px;
$initial-state-border-radius: 15px;
$connector-diff: -2px;

@mixin InitialState {
  .initial-state {
    .icon {
      background-color: $initial-state-background-color;
      width: $initial-state-size;
      height: $initial-state-size;
      border-radius: $initial-state-border-radius;
      border: 2px solid $initial-state-background-color;
      box-sizing: border-box;
    }

    .name {
    	white-space: nowrap;
        position: absolute;
        margin-left: 0px;
        left: 50%;
    }

    .connector {
      @include connector_basics;

      &.left {
        top: ( $initial-state-size - $connector-size ) / 2;
        left: $connector-diff;
      }

      &.right {
        top: ( $initial-state-size - $connector-size ) / 2;
        left: $initial-state-size - $connector-diff;
      }

      &.top {
        top: $connector-size / -2 + $connector-diff;
        margin-left: $connector-size / -2;
        left: 50%;
      }

      &.bottom {
        top: $initial-state-size - $connector-size / 2 - $connector-diff;
        margin-left: $connector-size / -2;
        left: 50%;
      }
    }
  }
}

@mixin SelectedInitialState {
  .initial-state {
    .icon {
      border-color: $selected-border-color;
    }
  }
}