@import "Connector";

$diagram-designer-selection-rubber-band-background-color: rgba(219, 234, 252, 0.49);
$diagram-designer-selection-rubber-band-border-color: #52A8EC;
$diagram-designer-selection-outline-background-color: rgba(255, 255, 0, 0.1);
$diagram-designer-selection-outline-border: #000000 dashed 1px;
$diagram-designer-selection-outline-shadow-start: rgba(0, 0, 0, 0.075);
$diagram-designer-selection-outline-shadow-end: rgba(0, 0, 0, 0.6);
$diagram-designer-selection-outline-s-btn-background-color: #FFFFFF;
$diagram-designer-selection-outline-s-btn-shadow-start: rgba(0, 0, 0, 0.075);
$diagram-designer-selection-outline-s-btn-shadow-end: rgba(0, 0, 0, 0.6);
/* override default connector properties for draggable connector end */
$connector-border: 1px solid #883333;
$connector-hover-border-color: rgba( 255, 43, 43, 0.8);
$connector-hover-shadow-color-start: rgba(0, 0, 0, 0.075);
$connector-hover-shadow-color-end: rgba(255, 43, 43, 0.6);

$items-accept-droppable-background-color: rgba(0, 255, 0, 0.05);

.diagram-designer {

  .items {
    position: absolute;

    &:focus {
      outline: none;
    }

    .rubberband {
      background: $diagram-designer-selection-rubber-band-background-color;
      border: $diagram-designer-selection-rubber-band-border-color solid 1px;
      z-index: 100000;
    }

    .selection-outline {
      background: $diagram-designer-selection-outline-background-color;
      border: $diagram-designer-selection-outline-border;
      position: absolute;
      /*z-index: 1002;*/
      pointer-events: none;
      -webkit-box-shadow: inset 0 1px 1px $diagram-designer-selection-outline-shadow-start 0 0 8px $diagram-designer-selection-outline-shadow-end;
      -moz-box-shadow: inset 0 1px 1px $diagram-designer-selection-outline-shadow-start, 0 0 8px $diagram-designer-selection-outline-shadow-end;
      box-shadow: inset 0 1px 1px $diagram-designer-selection-outline-shadow-start, 0 0 8px $diagram-designer-selection-outline-shadow-end;

      .s-btn {
        position: absolute;
        /*z-index: 100000;*/
        /*width: 26px;
        height: 26px;*/
        background-color: $diagram-designer-selection-outline-s-btn-background-color;
        border: 2px solid #000000;
        line-height: 14px;
        padding: 3px;
        border-radius: 12px;
        pointer-events: all;
        cursor: pointer;
        -webkit-box-shadow: inset 0 1px 1px $diagram-designer-selection-outline-s-btn-shadow-start 0 0 8px $diagram-designer-selection-outline-s-btn-shadow-end;
        -moz-box-shadow: inset 0 1px 1px $diagram-designer-selection-outline-s-btn-shadow-start, 0 0 8px $diagram-designer-selection-outline-s-btn-shadow-end;
        box-shadow: inset 0 1px 1px $diagram-designer-selection-outline-s-btn-shadow-start, 0 0 8px $diagram-designer-selection-outline-s-btn-shadow-end;

        &.delete {
          top: -13px;
          right: -13px;
        }
      }
    }

    .connectionDraggableEnd {
      @include connector_basics;
      margin-top: $connector-size / -2;
      margin-left: $connector-size / -2;
    }
  }

  .dropRegion {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;

    &.accept-droppable {
      background-color: $items-accept-droppable-background-color;
    }
  }
}

div.diagram-designer-zoom {
  height: 100px;
  width: 3px;
  position: absolute;
  top: 60px;
  left: 10px;

  a.ui-slider-handle {
    width: 15px;
    height: 15px;
    left: -7px;
    outline: none;

    [class*="icon-"] {
      margin-top: -2px;
    }
  }
}