.graphVizView {
    text-align: center;
    padding-top: 50px;
    position: relative;
}

.graphVizView .objectLayer,
.graphVizView .paperLayer {
    width: 100%;
    height: 100%;
}

.graphVizView .objectLayer {
    text-align: center;
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events:none;
}

.graphVizView .paperLayer {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
}

.graphVizView .paperLayer .pointer {
}

.graphVizView .pointerFilterContainer {
    position: fixed;
    border: 1px solid #000000;
    border-bottom: 0px solid #000000;
    background-color: rgba(200, 200, 200, 0.3);
    min-width: 70px;

    font-size: 10px;
    font-weight: bold;
    line-height: 18px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.graphVizView .pointerFilterContainer .pointerType {
    padding: 5px 10px 5px 10px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid #000000;
}

.graphVizView .setPointerTypeModalDialog {
    text-align: left;
}

/*
* Remove button for the pointer
*/

.icon-18 {
    height:18px;
    width:18px;
    margin:2px;
}

.icon-18-remove {
    background: url(../../img/remove_2.png) no-repeat;
}