.objectContainer {
    display: inline-block;
/*    border: 1px solid #f1f1f1;*/
    margin: 10px;
    vertical-align: top;
    position: relative;
    white-space: nowrap;
}

.objectContainer .paper {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.objectContainer .abovePaper {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
}

.objectContainer .core {
    display: inline-block;
    font-size: 11px;
    margin: 20px 0px 0px 0px;
    width: 61px;
    font-family: Helvetica, Arial;
    vertical-align: middle;
    cursor: default;
    text-align: center;
    position: relative;
    background-color: #000;
    color: #fff;
    border: 0px solid #333;
    overflow: hidden;
    padding:  10px;
}

.objectContainer .core .title {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.objectContainer .core .topConnectionPoint {
    width: 1px;
    height: 1px;
    /*background-color: red;*/
    position: relative;
    top: -25px;
    margin-right: auto;
    margin-left: auto;
}

.objectContainer .bottomControls {
    width :11px;
    height: 21px;
    /*background-color: red;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.objectContainer .children {
    text-align: center;
    white-space: nowrap;
}

.objectContainer .bottomControls .collapseButton,
.objectContainer .bottomControls .expandButton {
    width: 11px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    cursor: pointer;
}

.objectContainer .bottomControls .collapseButton {
    background-image: url(../../img/collapse_button.png);
}

.objectContainer .bottomControls .collapseButton:hover {
    background-image: url(../../img/collapse_button_over.png);
}

.objectContainer .bottomControls .expandButton {
    background-image: url(../../img/expand_button.png);
}

.objectContainer .bottomControls .expandButton:hover {
    background-image: url(../../img/expand_button_over.png);
}

.objectContainer .bottomControls .bottomConnectionPoint {
    width: 1px;
    height: 1px;
    /*background-color: red;*/
    position: relative;
    bottom: -20px;
    margin-right: auto;
    margin-left: auto;
}

.objectContainer path.containment {
    stroke: #333333;
    fill: none;
    stroke-width: 1px;
}