/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
//imports
@import "../Core/ModelDecorator";
@import "../../../js/Widgets/DiagramDesigner/styles/Connector";

//include ModelDecoratorCore style
@include model_decorator_core;

//overwrite / extend with local modifications
.model-decorator {

  .connector {
    @include connector_basics;

    height: 14px;
    width: 14px;
    margin-left: -8px;
    left: 50%;

    &.top {
      top: -10px;
    }

    &.bottom {
      bottom: -9px;
    }
  }

  .ports {
    .port {
      div.connector {
        top: ($port-height - 14)/2;
      }
    }

    .left {
      .port {
        .connector {
          left: -7 - ($padding - 2);
        }
      }
    }

    .right {
      .port {
        .connector {
          left: $ports-width + 9 + ($padding - 2);
        }
      }
    }
  }

  &.accept-droppable {
    background-color: $accept-droppable-background-color;
    cursor: alias;
  }
}