/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
.model-decorator {
  min-width: 65px;
  min-height: 40px;
  border: 1px solid #000000;
  background-color: #ECECEC;
  padding: 3px;
  text-align: center;
  position: relative; }
  .model-decorator .name {
    white-space: nowrap;
    font-size: 11px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 121px;
    border-bottom: none;
    height: 16px;
    line-height: 16px; }
  .model-decorator div.conn-type {
    font-size: 9px;
    line-height: 12px;
    color: #AAAAAA; }
  .model-decorator .ports {
    font-size: 10px;
    min-height: 16px;
    width: 121px;
    position: relative; }
    .model-decorator .ports .left {
      display: inline-block;
      vertical-align: top;
      width: 50px;
      min-height: 1px; }
    .model-decorator .ports .center {
      display: inline-block;
      vertical-align: top;
      width: 15px;
      height: 1px; }
    .model-decorator .ports .right {
      display: inline-block;
      vertical-align: top;
      width: 50px;
      min-height: 1px; }
    .model-decorator .ports .port {
      white-space: nowrap;
      position: relative;
      height: 15px;
      line-height: 15px; }
      .model-decorator .ports .port:hover {
        cursor: pointer; }
      .model-decorator .ports .port .title-wrapper {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis; }
      .model-decorator .ports .port img.svg-icon {
        display: inline-block;
        position: absolute;
        top: 2px;
        height: 11px;
        width: 5px; }
      .model-decorator .ports .port span.dot {
        display: inline-block;
        background: #666666;
        border: 1px solid #666666;
        position: absolute;
        width: 3px;
        height: 7px;
        top: 4px; }
      .model-decorator .ports .port.w-icon span.dot {
        display: none; }
    .model-decorator .ports .left .port .title-wrapper {
      text-align: left; }
    .model-decorator .ports .left .port img.svg-icon {
      left: -8px; }
    .model-decorator .ports .left .port span.dot {
      left: -6px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .model-decorator .ports .right .port .title-wrapper {
      text-align: right; }
    .model-decorator .ports .right .port img.svg-icon {
      right: -8px;
      -webkit-transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      transform: scaleX(-1); }
    .model-decorator .ports .right .port span.dot {
      left: 54px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  .model-decorator .top-ports {
    width: 100%;
    left: 0;
    height: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex; }
    .model-decorator .top-ports .port {
      white-space: nowrap;
      position: relative;
      height: 15px;
      line-height: 15px;
      display: inline;
      height: 11px; }
      .model-decorator .top-ports .port:hover {
        cursor: pointer; }
      .model-decorator .top-ports .port .title-wrapper {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis; }
      .model-decorator .top-ports .port img.svg-icon {
        display: inline-block;
        position: relative;
        margin-left: 2px;
        margin-right: 2px;
        width: 11px;
        height: 5px;
        top: -8px; }
      .model-decorator .top-ports .port span.dot {
        display: inline-block;
        background: #666666;
        border: 1px solid #666666;
        position: relative;
        margin-left: 4px;
        margin-right: 4px;
        width: 7px;
        height: 4px;
        top: -9px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
      .model-decorator .top-ports .port.w-icon span.dot {
        display: none; }
    .model-decorator .top-ports .left .port .title-wrapper {
      text-align: left; }
    .model-decorator .top-ports .left .port img.svg-icon {
      left: -8px; }
    .model-decorator .top-ports .left .port span.dot {
      left: -6px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .model-decorator .top-ports .right .port .title-wrapper {
      text-align: right; }
    .model-decorator .top-ports .right .port img.svg-icon {
      right: -8px;
      -webkit-transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      transform: scaleX(-1); }
    .model-decorator .top-ports .right .port span.dot {
      left: 14px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  .model-decorator .bottom-ports {
    width: 100%;
    left: 0;
    height: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex; }
    .model-decorator .bottom-ports .port {
      white-space: nowrap;
      position: relative;
      height: 15px;
      line-height: 15px;
      display: inline;
      height: 11px; }
      .model-decorator .bottom-ports .port:hover {
        cursor: pointer; }
      .model-decorator .bottom-ports .port .title-wrapper {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis; }
      .model-decorator .bottom-ports .port img.svg-icon {
        display: inline-block;
        position: relative;
        margin-left: 2px;
        margin-right: 2px;
        width: 11px;
        height: 5px;
        top: 3px; }
      .model-decorator .bottom-ports .port span.dot {
        display: inline-block;
        background: #666666;
        border: 1px solid #666666;
        position: relative;
        margin-left: 4px;
        margin-right: 4px;
        width: 7px;
        height: 4px;
        top: 1px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; }
      .model-decorator .bottom-ports .port.w-icon span.dot {
        display: none; }
    .model-decorator .bottom-ports .left .port .title-wrapper {
      text-align: left; }
    .model-decorator .bottom-ports .left .port img.svg-icon {
      left: -8px; }
    .model-decorator .bottom-ports .left .port span.dot {
      left: -6px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .model-decorator .bottom-ports .right .port .title-wrapper {
      text-align: right; }
    .model-decorator .bottom-ports .right .port img.svg-icon {
      right: -8px;
      -webkit-transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      transform: scaleX(-1); }
    .model-decorator .bottom-ports .right .port span.dot {
      left: 14px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  .model-decorator .progress-bar .loader-progressbar {
    position: relative;
    left: 50%;
    margin-left: -8px; }
  .model-decorator .ptr {
    position: absolute;
    top: 0;
    right: 2px;
    height: 15px;
    width: 15px;
    margin-top: 2px;
    border-radius: 5px; }
    .model-decorator .ptr.ptr-nonset {
      opacity: 0.4; }
    .model-decorator .ptr.inverse-on-hover:hover {
      background-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
      .model-decorator .ptr.inverse-on-hover:hover [class^="icon-"]:not(.icon-white),
      .model-decorator .ptr.inverse-on-hover:hover [class*=" icon-"]:not(.icon-white) {
        background-image: url("../../../img/glyphicons-halflings-white.png"); }
    .model-decorator .ptr [class^="icon-"],
    .model-decorator .ptr [class*=" icon-"] {
      margin-top: -2px; }
  .model-decorator .set {
    position: absolute;
    bottom: 0;
    right: 2px;
    height: 15px;
    width: 15px;
    margin-bottom: 2px;
    border-radius: 2px; }
    .model-decorator .set:hover {
      background-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
      .model-decorator .set:hover [class^="icon-"]:not(.icon-white),
      .model-decorator .set:hover [class*=" icon-"]:not(.icon-white) {
        background-image: url("../../../img/glyphicons-halflings-white.png"); }
    .model-decorator .set [class^="icon-"],
    .model-decorator .set [class*=" icon-"] {
      margin-top: -2px; }
  .model-decorator .replaceable {
    position: absolute;
    bottom: 0;
    left: 2px;
    height: 15px;
    width: 15px;
    margin-bottom: 2px;
    border-radius: 2px; }
    .model-decorator .replaceable:hover {
      background-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
      .model-decorator .replaceable:hover [class^="icon-"]:not(.icon-white),
      .model-decorator .replaceable:hover [class*=" icon-"]:not(.icon-white) {
        background-image: url("../../../img/glyphicons-halflings-white.png"); }
    .model-decorator .replaceable [class^="icon-"],
    .model-decorator .replaceable [class*=" icon-"] {
      margin-top: -2px; }
  .model-decorator.abstract .name {
    font-style: italic;
    color: #AAAAAA; }
  .model-decorator img.embeddedsvg {
    width: 40px;
    position: relative; }

.model-decorator .connector {
  background-color: #FEFEFE;
  height: 10px;
  width: 10px;
  position: absolute;
  cursor: pointer;
  border: 1px solid #0000FF;
  z-index: 10;
  height: 14px;
  width: 14px;
  margin-left: -8px;
  left: 50%; }
  .model-decorator .connector:hover {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
  .model-decorator .connector:hover {
    height: 24px;
    width: 24px;
    margin-left: -12px;
    z-index: 12; }
    .model-decorator .connector:hover.top {
      top: -16px; }
    .model-decorator .connector:hover.bottom {
      bottom: -16px; }
  .model-decorator .connector.top {
    top: -10px; }
  .model-decorator .connector.bottom {
    bottom: -9px; }
  .model-decorator .connector.has-ports {
    visibility: hidden; }
.model-decorator .ports .port div.connector {
  top: 0.5px; }
  .model-decorator .ports .port div.connector:hover {
    top: -3.5px;
    z-index: 12; }
.model-decorator .ports .left .port .connector {
  left: -8px; }
  .model-decorator .ports .left .port .connector:hover {
    left: -11px; }
.model-decorator .ports .right .port .connector {
  left: 60px; }
  .model-decorator .ports .right .port .connector:hover {
    left: 62px; }
.model-decorator .bottom-ports div.connector {
  top: 6px; }
.model-decorator .top-ports div.connector {
  top: -9px; }
.model-decorator.accept-droppable {
  background-color: #00FF00 !important;
  cursor: alias; }
