/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
//imports
@import "../Core/ModelDecorator";
@import "../../../js/Widgets/DiagramDesigner/styles/Connector";

//include ModelDecoratorCore style
@include model_decorator_core;

//overwrite / extend with local modifications
.model-decorator {

  .connector {
    @include connector_basics;

    height: 14px;
    width: 14px;
    margin-left: -8px;
    left: 50%;

    &:hover {
      height: 24px;
      width: 24px;
      margin-left: -12px;
      z-index: 12;
      &.top {
        top: -16px;
      }
      &.bottom {
        bottom: -16px;
      }
    }

    &.top {
      top: -10px;
    }

    &.bottom {
      bottom: -9px;
    }

    &.has-ports {
      visibility: hidden;
    }
  }

  .ports {
    .port {
      div.connector {
        top: ($port-height - 14)/2;
        &:hover {
          top: ($port-height - 14)/2 - 4px;
          z-index: 12;
        }
      }
    }

    .left {
      .port {
        .connector {
          left: -7 - ($padding - 2);
          &:hover {
            left: -7 - ($padding - 2) - 3;
          }
        }
      }
    }

    .right {
      .port {
        .connector {
          left: $ports-width + 9 + ($padding - 2);
          &:hover {
            left: $ports-width + 9 + ($padding - 2) + 2;
          }
        }
      }
    }
  }

  .bottom-ports {
    div.connector {
      top: 6px;
    }
  }

  .top-ports {
    div.connector {
      top: -9px;
    }
  }
  &.accept-droppable {
    background-color: $accept-droppable-background-color;
    cursor: alias;
  }
}