/* make sure to update commit_WIDTH and commit_HEIGHT in Widgets/ProjectRepository/ProjectRepositoryWidget.js */
.project-repository-widget {
  /********* TABLE LAYOUT STYLES ************/ }
  .project-repository-widget .commits {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 48.5px;
    left: 15px;
    /*DISABLE OUTER BORDER WHEN FOCUSED*/ }
    .project-repository-widget .commits:focus {
      outline: none; }
    .project-repository-widget .commits .commit {
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: black;
      border-radius: 5px; }
      .project-repository-widget .commits .commit.actual {
        background-color: #ff7800;
        -moz-box-shadow: 0 0 10px 3px #ff7800;
        -webkit-box-shadow: 0 0 10px 3px #ff7800;
        box-shadow: 0 0 10px 3px #ff7800; }
  .project-repository-widget .show-more {
    height: 36px;
    line-height: 36px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #3a87ad;
    border-top: 1px solid #3a87ad;
    text-align: center;
    margin-top: 15px;
    position: relative; }
    .project-repository-widget .show-more a:hover {
      text-decoration: none; }
  .project-repository-widget table tr {
    height: 25px; }
  .project-repository-widget table th,
  .project-repository-widget table td {
    padding: 0px;
    padding-right: 5px;
    line-height: 12px;
    font-size: 12px;
    white-space: nowrap;
    vertical-align: middle; }
    .project-repository-widget table th div.commit-message,
    .project-repository-widget table td div.commit-message {
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 600px; }
    .project-repository-widget table th .branch-label,
    .project-repository-widget table td .branch-label {
      margin-right: 2px; }
      .project-repository-widget table th .branch-label [class*="icon-"],
      .project-repository-widget table td .branch-label [class*="icon-"] {
        margin-left: 2px; }
      .project-repository-widget table th .branch-label [class*="icon-white"]:hover,
      .project-repository-widget table td .branch-label [class*="icon-white"]:hover {
        cursor: pointer; }
      .project-repository-widget table th .branch-label.label,
      .project-repository-widget table td .branch-label.label {
        font-size: 11px;
        font-weight: normal;
        height: 15px; }
    .project-repository-widget table th > .btn,
    .project-repository-widget table td > .btn {
      margin-left: 2px;
      margin-right: 2px; }
    .project-repository-widget table th .control-group,
    .project-repository-widget table td .control-group {
      margin-bottom: 0px; }
  .project-repository-widget table td:first-child {
    border-top: 1px solid transparent; }
  .project-repository-widget table.table-hover tbody tr:hover > td, .project-repository-widget table.table-hover tbody tr:hover > th {
    background-color: rgba(245, 245, 245, 0.5); }
