/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
/**
 * @author rkereskenyi / https://github/rkereskenyi
 */
/*#DBEAFC;*/
.svg-decorator {
  position: relative; }
  .svg-decorator .svg-content svg {
    vertical-align: top; }
    .svg-decorator .svg-content svg .connection-area {
      stroke: #FF0000;
      stroke-width: 5.5; }
  .svg-decorator .name {
    white-space: nowrap;
    font-size: 11px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 16px;
    line-height: 16px; }
  .svg-decorator.abstract .name {
    font-style: italic;
    color: #AAAAAA; }
  .svg-decorator .ports {
    position: absolute;
    top: 0;
    font-size: 10px; }
    .svg-decorator .ports.ports-l {
      left: 0; }
    .svg-decorator .ports.ports-r {
      right: 0; }
    .svg-decorator .ports .port {
      position: absolute;
      width: 10px;
      line-height: 13px; }
      .svg-decorator .ports .port .title {
        position: absolute;
        overflow: hidden;
        text-overflow: ellipsis; }
      .svg-decorator .ports .port .icon {
        position: absolute; }
        .svg-decorator .ports .port .icon img {
          width: 10px; }
      .svg-decorator .ports .port .connector {
        margin-left: 0;
        margin-top: 0; }
    .svg-decorator .ports.ports-l .port .title {
      text-align: left; }
    .svg-decorator .ports.ports-r .port .title {
      text-align: right; }
    .svg-decorator .ports.ports-r .port .icon img {
      -webkit-transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      transform: scaleX(-1); }

.designer-item .svg-decorator .name {
  position: absolute; }
.designer-item .svg-decorator .replaceable {
  text-align: center;
  margin-top: 16px; }
.designer-item .svg-decorator .svg-content svg {
  border: none; }
  .designer-item .svg-decorator .svg-content svg .connector {
    fill: #FEFEFE;
    stroke: #0000FF;
    stroke-width: 1px; }
    .designer-item .svg-decorator .svg-content svg .connector:hover {
      stroke: rgba(82, 168, 236, 0.8); }
.designer-item .svg-decorator .connector {
  background-color: #FEFEFE;
  height: 10px;
  width: 10px;
  position: absolute;
  cursor: pointer;
  border: 1px solid #0000FF;
  z-index: 10;
  margin-left: -5px;
  margin-top: -5px; }
  .designer-item .svg-decorator .connector:hover {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
  .designer-item .svg-decorator .connector:hover {
    height: 20px;
    width: 20px;
    z-index: 12; }
    .designer-item .svg-decorator .connector:hover.cn {
      margin-left: -10px;
      margin-top: -13px; }
    .designer-item .svg-decorator .connector:hover.cs {
      margin-left: -10px;
      margin-top: -7px; }
    .designer-item .svg-decorator .connector:hover.ce {
      margin-left: -7px;
      margin-top: -10px; }
    .designer-item .svg-decorator .connector:hover.cw {
      margin-left: -13px;
      margin-top: -10px; }
.designer-item .svg-decorator.accept-droppable {
  background-color: #00FF00 !important;
  cursor: alias; }
