/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
//imports
@import "../Core/SVGDecorator";
@import "../../../js/Widgets/DiagramDesigner/styles/Connector";

//include SVGDecoratorCore style
@include svg_decorator_core;

//overwrite / extend with local modifications
.designer-item {
  .svg-decorator {
    .svg-content {
      svg {
        border: $border;

        .connector {
          fill: $connector-background-color;
          stroke: $connection-border-color;
          stroke-width: $connector-border-width;

          &:hover {
            stroke: $connector-hover-border-color;
          }
        }
      }
    }

    .connector {
      @include connector_basics;

      margin-left: $connector-size / -2;
      margin-top: $connector-size / -2;
    }
    &.accept-droppable {
      background-color: #00FF00 !important;
      cursor: alias;
    }
  }

  &.selected {
    .svg-decorator {
      .svg-content {
        svg {
        }
      }
    }
  }
}