/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
.project-title {
  margin-left: 10px;
  margin-right: 10px; }
  .project-title .title {
    font-size: 20px;
    font-weight: 200;
    color: white; }
  .project-title .readOnlyInfo {
    display: none;
    margin-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: bold; }

.read-only .project-title {
  color: #777777; }
  .read-only .project-title .readOnlyInfo {
    display: inline-block; }
