/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */

$read-only-color: #777777;
$project-title-color: #FFFFFF;

.project-title {
  margin-left: 10px;
  margin-right: 10px;

  .title {
    font-size: 20px;
    font-weight: 200;
    color: $project-title-color;
  }

  .readOnlyInfo {
    display: none;
    margin-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: bold;
  }
}

.read-only {
  .project-title {
    color: $read-only-color;

    .readOnlyInfo {
      display: inline-block;
    }
  }
}