<div class="branches-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Branches</h3>
            </div>
            <div class="pre-body">
                <div class="tabContainer"></div>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills nav-stacked">
                </ul>
            </div>
            <div class="modal-footer">
                <div class="panel-buttons">
                    <button class="btn btn-default pull-left btn-refresh" title="Reload branch list..."
                            style="position: relative;"><i class="glyphicon glyphicon-refresh"></i></button>
                    <button class="btn btn-primary btn-open">Open</button>
                    <button class="btn btn-danger btn-delete">Delete</button>
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <div class="panel-create-new control-group">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="username">Username</span>
                                <!--<span class="caret"></span>-->
                            </button>
                            <ul class="dropdown-menu">
                                <!--<li><a href="#">Username</a></li>-->
                                <!--<li><a href="#">Another action</a></li>-->
                                <!--<li><a href="#">Something else here</a></li>-->
                                <!--<li role="separator" class="divider"></li>-->
                                <!--<li><a href="#">Separated link</a></li>-->
                            </ul>
                        </div><!-- /btn-group -->
                        <input type="text" class="input-xlarge txt-branch-name form-control"
                               placeholder="Branch name..." />
                    </div><!-- /input-group -->

                    <button class="btn btn-default btn-cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>