@import url("../bower_components/bootstrap/dist/css/bootstrap.min.css");
@import url("../bower_components/bootstrap/dist/css/bootstrap-theme.min.css");
@import url("../bower_components/codemirror/lib/codemirror.css");
@import url("codemirror/codemirror.bootstrap.css");

@import url("webgme_bootstrap_overrides.css");
@import url("../bower_components/jquery-ui/themes/base/jquery-ui.min.css");
@import url("jquery/jquery.layout.css");
@import url("jquery/jquery.layout.webgme.css");
@import url("jquery/jquery.dataTables.bootstrapped.css");
@import url("../bower_components/spectrum/spectrum.css");
@import url("../bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css");
@import url("../bower_components/jquery.fancytree/dist/skin-vista/ui.fancytree.css");
@import url("webgme_fancytree_overrides.css");
@import url("../bower_components/jQuery-contextMenu/dist/jquery.contextMenu.css");
@import url("webgme_contextmenu_overrides.css");

@import url("print.css");
@import url("themes/dawn.css");
@import url("../fonts/font-awesome/css/font-awesome.min.css");
@import url("../fonts/webgme-icons/style.css");
@import url("../bower_components/isis-ui-components/dist/isis-ui-components.css");

/* OWN STYLES */
.gme-icon {
    background-image: url('../img/gme-icon.png');
}

html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:white;
    font-size: 12px;

    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    min-width:800px;
    min-height:480px;

    -moz-user-select:-moz-none;
    -webkit-user-select:none;
    -o-user-select:none;
    user-select:none;
    -ms-user-select:none;
}

ul.unstyled,
ol.unstyled {
    margin-left: 0;
    list-style: none;
}

* {
    -moz-user-select:-moz-none;
    -webkit-user-select:none;
    -o-user-select:none;
    user-select:none;
    -ms-user-select:none;
}

.user-select-off {
    -moz-user-select:-moz-none;
    -webkit-user-select:none;
    -o-user-select:none;
    user-select:none;
    -ms-user-select:none;
}

.user-select-on {
    -moz-user-select:-moz-all;
    -webkit-user-select:all;
    -o-user-select:all;
    user-select:all;
    -ms-user-select:element;
}

input[type=text],
input[type=password],
input, /*stupid jsTree does not specify type for input (renaming node)*/
textarea{
    -webkit-user-select:text;
    -moz-user-select:text;
    -o-user-select:text;
    user-select:text;
    -ms-user-select:text;
}

div {
    display: block;
}

div.inline {
    display: inline-block;
}

div.centered {
    text-align: center;
}


.pointer {
    cursor: pointer;
}

.center {
    text-align: center !important;
}

div.spacer {
    width: 10px;
    height: 1px;
}

.nowrap {
    white-space: nowrap;
}

.webgme-version,
.webgme-copyright {
    line-height: 24px;
    padding-left: 5px;
}

.webgme-version a,
.webgme-copyright a {
    color: #cfd0d9;
}

.webgme-version a:hover,
.webgme-copyright a:hover {
    color: #0088cc;
    text-decoration: none;
}


/*FIX jQueryUI layout's z-index issue that the resizer has higher z-index than the panels*/
.ui-layout-south,
.ui-layout-north{
    z-index: 10 !important;
}


.ui-layout-pane {
    border: 0;
}

/********WEBKIT SCROLLBAR **********/

*::-webkit-scrollbar{height:10px;width:10px;overflow:visible;}
*::-webkit-scrollbar-thumb{background-clip:padding-box;border:transparent solid 2px;border-radius:7px;min-height:28px;padding:100px 0 0;-webkit-box-shadow:inset 0 0 0 7px rgba(0, 0, 0, 0.25);}
*::-webkit-scrollbar-thumb:hover{-webkit-box-shadow:inset 0 0 0 7px rgba(0, 0, 0, 0.3);}
*::-webkit-scrollbar-button{height:0;width:0;}
*::-webkit-scrollbar-track{background-clip:padding-box;/*background:rgba(255, 255, 255, 0.9);*/-webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.1);}
*::-webkit-scrollbar-track:vertical{border-left:rgba(0, 0, 0, 0.1) solid 1px;}
*::-webkit-scrollbar-track:horizontal{border-top:rgba(0, 0, 0, 0.1) solid 1px;}
*::-webkit-scrollbar-corner{background:rgba(255, 255, 255, 0.9);-webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.1);}

/******************/


.empty-message {
    font-style: italic;
}

/* Progress bar for remarkable-bootstrap-notify */
[data-notify="progressbar"] {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
}