<div class="commit-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Commit</h3>
            </div>
            <div class="modal-body">
                <fieldset>
                    <legend>Selected branch</legend>
                    <div class="alert alert-error" style="text-align: center;font-weight: bold;">
                        Oooops, you are not ready to commit since you are not on a branch right now. Select a branch
                        first to be able to make your commit.
                    </div>
                </fieldset>
                <fieldset class="fs-message">
                    <legend>Commit message</legend>
                    <div class="control-group control-group-message" style="margin-top: 0">
                        <textarea class="input-block-level txt-message form-control" rows="3"></textarea>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button href="#" class="btn btn-primary btn-commit">Commit</button>
                <button href="#" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>