$dot-color: #666666;
$port-height: 15px;
$dot-radius : 5px;
$dot-width: 3px;
$dot-height: 7px;
$dot-border-width: 1px;
$icon-padding: 2px;
$svg-icon-height: 11px;
$svg-icon-width: 5px;

@mixin port($ports-width, $padding) {
  .port {
    white-space: nowrap;
    position: relative;
    height: $port-height;
    line-height: $port-height;

    &:hover {
      cursor: pointer;
    }

    .title-wrapper {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img.svg-icon {
      height: $svg-icon-height;
      width: $svg-icon-width;
      position: absolute;
      display: inline-block;
      top: 2px;
    }

    span.dot {
      position: absolute;
      display: inline-block;
      background: $dot-color;
      border: $dot-border-width solid $dot-color;
      width: $dot-width;
      height: $dot-height;
      top: ($port-height - $dot-height)/2;
    }

    &.w-icon {
      span.dot {
        display: none;
      }
    }
  }

  .left {
    .port {
      .title-wrapper {
        text-align: left;
      }

      img.svg-icon {
        left: -$svg-icon-width - $padding;
      }

      span.dot {
        left: - $padding - $dot-width;
        border-top-left-radius: $dot-radius;
        border-bottom-left-radius: $dot-radius;
      }
    }
  }

  .right {
    .port {
      .title-wrapper {
        text-align: right;
      }

      img.svg-icon {
        right: -$svg-icon-width - $padding;
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
      }

      span.dot {
        left: $ports-width + $padding + 1;
        border-top-right-radius: $dot-radius;
        border-bottom-right-radius: $dot-radius;
      }
    }
  }
}



