/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */

$dot-color: #666666;
$port-height: 15px;
$dot-radius: 5px;
$dot-width: 3px;
$dot-height: 7px;
$dot-border-width: 1px;
$icon-padding: 2px;
$svg-icon-height: 11px;
$svg-icon-width: 5px;

@mixin port($ports-width, $padding, $orientation) {
  .port {
    white-space: nowrap;
    position: relative;
    height: $port-height;
    line-height: $port-height;
    @if($orientation == 'N' or $orientation == 'S') {
      display: inline;
      height: $svg-icon-height;
    }

    &:hover {
      cursor: pointer;
    }

    .title-wrapper {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img.svg-icon {
      display: inline-block;

      @if($orientation == 'N' or $orientation == 'S') {
        position: relative;
        margin-left: 2px;
        margin-right: 2px;
        width: $svg-icon-height;
        height: $svg-icon-width;
        @if($orientation == 'S') {
          top: 3px;
        } @else {
          top: -8px;
        }
      } @else {
        position: absolute;
        top: 2px;
        height: $svg-icon-height;
        width: $svg-icon-width;
      }
    }

    span.dot {
      display: inline-block;
      background: $dot-color;
      border: $dot-border-width solid $dot-color;

      @if($orientation == 'N' or $orientation == 'S') {
        position: relative;
        margin-left: 4px;
        margin-right: 4px;
        width: $dot-height;
        height: $dot-width + 1;
        @if($orientation == 'S') {
          top: 1px;
          border-bottom-left-radius: $dot-radius;
          border-bottom-right-radius: $dot-radius;
        } @else {
          top: -9px;
          border-top-left-radius: $dot-radius;
          border-top-right-radius: $dot-radius;
        }
      } @else {
        position: absolute;
        width: $dot-width;
        height: $dot-height;
        top: ($port-height - $dot-height)/2;
      }
    }

    &.w-icon {
      span.dot {
        display: none;
      }
    }
  }

  .left {
    .port {
      .title-wrapper {
        text-align: left;
      }

      img.svg-icon {
        left: -$svg-icon-width - $padding;
      }

      span.dot {
        left: - $padding - $dot-width;
        border-top-left-radius: $dot-radius;
        border-bottom-left-radius: $dot-radius;
      }
    }
  }

  .right {
    .port {
      .title-wrapper {
        text-align: right;
      }

      img.svg-icon {
        right: -$svg-icon-width - $padding;
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
      }

      span.dot {
        left: $ports-width + $padding + 1;
        border-top-right-radius: $dot-radius;
        border-bottom-right-radius: $dot-radius;
      }
    }
  }
}



