/*
 * @author pmeijer / https://github.com/pmeijer
 */

div.record-and-replay-dialog {
  width: 400px;
  .modal-dialog {
    width: 400px;
    margin: 0;
  }

  .modal-content {
    .toggle-info-btn {
      font-size: 65%;
      vertical-align: top;
      cursor: pointer;
      color: #333;
      &:hover {
        color: #2a6496;
      }
    }
    .btn-record {
      &.recording {
        color: red;
      }
    }

    .modal-footer {
      .info-message {
        display: inline-block;
        width: 95%;
        margin-bottom: 2ex;
        margin-left: 0.5ex;
        opacity: 0.90;
      }
      &.hidden {
        display: none;
      }
    }
  }
}