/**
 * @author rkereskenyi / https://github.com/rkereskenyi
 */
.meta-editor-widget.w-tabs .diagram-designer-zoom-container {
  top: 45px; }
.meta-editor-widget.show-meta-consistency-results {
  display: inline-flex; }
  .meta-editor-widget.show-meta-consistency-results .panel-body {
    width: 50%; }
  .meta-editor-widget.show-meta-consistency-results .meta-consistency-results {
    width: 50%;
    overflow-y: scroll;
    margin-top: 30px;
    border-left: 1px gray solid; }
    .meta-editor-widget.show-meta-consistency-results .meta-consistency-results .meta-inconsistency-header {
      margin-left: 8px; }
      .meta-editor-widget.show-meta-consistency-results .meta-consistency-results .meta-inconsistency-header i {
        margin-left: 10px;
        cursor: pointer; }
    .meta-editor-widget.show-meta-consistency-results .meta-consistency-results .meta-inconsistency-divider {
      border-top: 3px lightgray solid;
      margin: 20px 20px 20px 20px; }
    .meta-editor-widget.show-meta-consistency-results .meta-consistency-results .meta-inconsistency {
      margin-left: 10px;
      margin-right: 10px; }
      .meta-editor-widget.show-meta-consistency-results .meta-consistency-results .meta-inconsistency dt {
        width: 100px; }
      .meta-editor-widget.show-meta-consistency-results .meta-consistency-results .meta-inconsistency dd {
        margin-left: 120px; }
        .meta-editor-widget.show-meta-consistency-results .meta-consistency-results .meta-inconsistency dd.path-link {
          cursor: pointer;
          color: blue; }
          .meta-editor-widget.show-meta-consistency-results .meta-consistency-results .meta-inconsistency dd.path-link:hover {
            color: orange; }

div.filterPanel {
  position: absolute;
  top: 34px;
  right: 11px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }
  div.filterPanel .header {
    min-width: 100px;
    text-align: center;
    margin: 0 5px; }
  div.filterPanel .body {
    display: none;
    list-style: none;
    padding: 5px;
    margin: 0; }
    div.filterPanel .body li.filterItem {
      margin: 3px 0; }
      div.filterPanel .body li.filterItem .iCheckBox {
        float: right;
        margin-top: 6px;
        margin-left: 3px; }
      div.filterPanel .body li.filterItem div > svg {
        margin-top: 4px; }
  div.filterPanel:hover .header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  div.filterPanel:hover .body {
    display: block; }
