<div class="ui-recorder-dialog modal fade" data-backdrop="false" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="btn-group replay-btns" role="group">
                    <button type="button" class="btn btn-default btn-step-back" disabled>
                        <i class="glyphicon glyphicon-step-backward"/>
                    </button>
                    <button type="button" class="btn btn-default btn-play">
                        <i class="glyphicon glyphicon-play"/>
                    </button>
                    <button type="button" class="btn btn-default btn-stop">
                        <i class="glyphicon glyphicon-stop"/>
                    </button>
                    <button type="button" class="btn btn-default btn-step-forward" disabled>
                        <i class="glyphicon glyphicon-step-forward"/>
                    </button>
                </div>
                <div class="btn-group load-unload-btns" role="group">
                    <button type="button" class="btn btn-default btn-load">
                        <i class="glyphicon glyphicon-floppy-open"/>
                    </button>
                    <button type="button" class="btn btn-default">
                        <i class="glyphicon glyphicon-floppy-save btn-save"/>
                    </button>
                </div>

                <span class="badge rec-badge">0</span>
                <i class="glyphicon glyphicon-info-sign toggle-info-btn"/>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-footer hidden">Here you can record and replay changes in the model.
            </div>
        </div>
    </div>
</div>