li.gme-folder > a .jstree-icon
{
    background: url("../img/gmeicons.png") 0 0;
}

li.gme-model > a .jstree-icon
{
    background: url("../img/gmeicons.png") -48px 0;
}

li.gme-atom > a .jstree-icon
{
    background: url("../img/gmeicons.png") -16px 0;
}

li.gme-aspect > a .jstree-icon
{
    background: url("../img/gmeicons.png") -32px 0;
}

li.gme-connection > a .jstree-icon
{
    background: url("../img/gmeicons.png") -64px 0;
}

li.gme-root > a .jstree-icon
{
    background: url("../img/gmeicons.png") -80px 0;
}

/* smaller space after the expander icon */
.jstree ins { width:16px !important; }

/* JSTREE CONTEXT MENU */
#vakata-contextmenu {
    min-width:120px !important;
}

#vakata-contextmenu ul {
    min-width:120px !important;
}

#vakata-contextmenu li {
    padding: 1px !important;
}

#vakata-contextmenu li.vakata-separator {
    padding: 0 !important;
}

#vakata-contextmenu li ins {
    margin-left: 4px !important;
    height: 17px !important;
    background-position: 0 1px !important;
}

#vakata-contextmenu li a {
    margin-left: 18px !important;
}

#vakata-contextmenu.jstree-default-context li:hover,
#vakata-contextmenu.jstree-default-context .vakata-hover  {
    background:#aecff7;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
}

#vakata-contextmenu.jstree-default-context a:hover,
#vakata-contextmenu.jstree-default-context .vakata-hover > a {
    padding: 1px 6px !important;
    background:#aecff7 !important;
    border: 0 solid #aecff7 !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

    /* Loading in progress for JSTree*/
li.gme-loading > a
{
    color: #aaaaaa;
    font-style: italic;
}

li.gme-loading > a .jstree-icon
{
    background: url("../img/progress.gif") 0 0;
}
