/*IMPORTS*/

@import url("../lib/contextmenu/jquery.contextMenu.css");
@import url("../lib/dynatree/ui.dynatree.css");

/* OWN STYLES */
body {
	background-color:white;
    font-size:90%;
	font-family:Helvetica,serif;
}

ul.dynatree-container
{
    overflow: visible !important;
    padding-bottom: 0 !important;
    height: auto;
}

div.ObjectBrowser {
    width :200px;
    height: 600px;
    overflow : auto;
}

.dynatree-loading span.dynatree-expander  /* 'Loading' status overrides all others */
{
    background-position: 0 0;
    background-image: url("../img/progress.gif");
}

span.dynatree-node a
{
     /*	color: green; */
     /*border:1px solid transparent;*/
}

span.dynatree-selected a
{
     /*	color: green; */
     font-style: normal;
     background:#beebff;
     border:1px solid #99defd;

}



/* Remove blue color and underline from title links */
ul.dynatree-container span.dynatree-title
{
    color: black; /* inherit doesn't work on IE */
    text-decoration: none;
    vertical-align: top;
    margin: 0 0 0 3px;
    padding: 1px;
}

span.dynatree-active span.dynatree-title
{
    color: white;
    background-color: #3399FF;
}

span.dynatree-icon {
    margin-left: 0;
    background: url("../img/gmeicons.png") 0 0;
}

span.gme-model span.dynatree-icon  {
    background-position: -48px 0 !important;
}

span.gme-atom span.dynatree-icon  {
    background-position: -16px 0 !important;
}

span.gme-aspect span.dynatree-icon  {
     background-position: -32px 0 !important;
 }

span.gme-connection span.dynatree-icon  {
    background-position: -64px 0 !important;
}

span.gme-root span.dynatree-icon  {
    background-position: -80px 0 !important;
}

span.gme-loading a.dynatree-title {
    color: #aaaaaa;
    font-style: italic;
}

span.gme-loading span.dynatree-icon  {
    background: url("../img/progress.gif") 0 0;
}

