.model .children .port span.dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #555;
    moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 1px;
}

.model .children .left .port span.dot {
    margin-right: 2px;
}

.model .children .right .port span.dot {
    margin-left: 2px;
}

.model .children .left .port :hover,
.model .children .right .port :hover {
    cursor: pointer;
}

.model .children .activePort span.dot {
    background-color: #FFFFFF;
}

.model .children .activePort span.title {
    color: #FFFFFF;
}

.model .children .ui-state-hover span.dot {
    background-color: #ff7800;
}

.model .children .ui-state-hover span.title {
    color: #ff7800;
}

