div.modelEditorCanvasTitle {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

div.dragPosPanel {
    font-size: 8px;
    font-weight:bold;
    font-family: Verdana;
    color: #222;
    background: rgba(224, 224, 224, 0.49);
    border: rgba(0,0,0,0.25) solid 1px;
    padding: 2px 4px;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    z-index: 100000;
    text-align:center;
}
div.rubberBand {
    background: rgba(219, 234, 252, 0.49);
    border: #52A8EC solid 1px;
    position: absolute;
    z-index: 100000;
}

div.children:focus
{
    outline: none;
}