.model {
    min-height: 100px;
    min-width: 100px;
    float: left;
    border: 2px solid #666666;
    background-color: #ccc;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
    text-align: center;
}
.model div.modelTitle {
    color: #fff;
    text-shadow: #000 0 1px;
    box-shadow: 5px;
    padding: 5px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -webkit-gradient(linear, left top, right top,
    color-stop(0, rgb(0,0,0)),
    color-stop(0.50, rgb(79,79,79)),
    color-stop(1, rgb(21,21,21)));
    background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    border-bottom: 1px solid #ddd;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -ms-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}

input.modelTitle {
    display: inline-block;
    height: 16px;
    padding: 1px;
    font-size: 13px;
    line-height: 18px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.selected {
    border: 2px solid #52A8EC;
    background-color: #DBEAFC;
    /*background-color: #C3DCFC;*/
}

.model .children {
    font-size: 10px;
    width: 100%;
}

.model .children .ports {
    display:  inline;
    float: left;
    min-height: 1px;
}

div.left {
    text-align: left;
    padding-left: 4px;
}

div.right {
    text-align: right;
    padding-right: 4px;
}

div.center {
    min-width: 30px;
    height: 1px;
}

div.connectionPoint {
     display: inline-block;
     width: 24px;
     height: 24px;
     line-height: 24px;
     vertical-align: text-top;
     background-image: url("../img/curve.png");
     background-repeat: no-repeat;
     background-position: 3px 3px;
     background-size: 18px 18px;
     border: 1px solid #000000;
     -webkit-border-radius: 5px;
     -ms-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     cursor: pointer;
}

#connectionPoint.ui-state-hover {
    background-color: #FF7800;
}