/*
 * @author pmeijer / https://github.com/pmeijer
 */

div.project-rights-dialog {
  div.modal-header {
    .header-icon {
      font-size: 20px;
      margin-right: 1ex;
      display: inline-block;
      color: dimgrey;
    }
    span {
      font-size: 24px;
    }
  }
  ul.dropdown-menu {
    min-width: 0;
    text-align: left;
    a {
      cursor: pointer;
    }
  }
  .do-not-display {
    display: none;
  }
  .modal-body {
    overflow: visible;
    .project-display-name {
      font-size: 14px;
      font-weight: bold;
    }
    .input-group {
      display: block;
      .drop-down-container {
        padding-top: 18px;
      }
    }
    button {
      border-radius: 4px;
    }
  }
}