/*
 * @author pmeijer / https://github.com/pmeijer
 */
div.project-rights-dialog div.modal-header .header-icon {
  font-size: 20px;
  margin-right: 1ex;
  display: inline-block;
  color: dimgrey; }
div.project-rights-dialog div.modal-header span {
  font-size: 24px; }
div.project-rights-dialog ul.dropdown-menu {
  min-width: 0;
  text-align: left; }
  div.project-rights-dialog ul.dropdown-menu a {
    cursor: pointer; }
div.project-rights-dialog .do-not-display {
  display: none; }
div.project-rights-dialog .modal-body {
  overflow: visible; }
  div.project-rights-dialog .modal-body .project-display-name {
    font-size: 14px;
    font-weight: bold; }
  div.project-rights-dialog .modal-body .input-group {
    display: block; }
    div.project-rights-dialog .modal-body .input-group .drop-down-container {
      padding-top: 18px; }
  div.project-rights-dialog .modal-body button {
    border-radius: 4px; }
