<div class="project-rights-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <i class="glyphicon glyphicon-transfer header-icon"></i>
                <span>Transfer project</span>
            </div>
            <div class="modal-body">
                <div class="no-new-owners">
                    There are no possible new owners for <span class="project-display-name"></span>...
                </div>
                <div class="select-new-owner">
                    <div class="input-group">
                        <div>Would you like to transfer <span class="project-display-name"></span>?</div>
                        <div class="input-group-btn">
                            <div class="drop-down-container">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="selected-owner-id" title="Owner">owner</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu ownerId-list">
                        </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-ok">OK</button>
                <button class="btn btn-default btn-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>