<div class="apply-commit-queue-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <i class="glyphicon glyphicon-fast-forward header-icon"></i><span>Apply Commit Queue</span>
            </div>
            <div class="modal-body">
                <form class="form-horizontal from-file">
                    <h5>Apply commit-queue from file
                        <i class="glyphicon glyphicon-info-sign toggle-info-btn"></i>
                    </h5>
                    <span class="type-description from-file hidden">If you got disconnected and or for some other
                        reason was forced to download uncommitted local changes. This is where such changes can be persisted
                        back to the database. N.B. this is not an export format or a way to "save" changes - but rather a
                        fallback when connection/device power was lost.
                     </span>
                    <span class="selection selection-from-file">

                    </span>
                    <div class="alert alert-info file-status hidden" role="alert"></div>

                </form>
            </div>
            <div class="modal-footer">
                <div class="branch-name-container">
                    <input type="text" class="input-xlarge form-control branch-name pull-left hidden" placeholder="Enter a new branch name..."/>
                </div>
                <button class="btn btn-primary btn-ok">OK</button>
                <button class="btn btn-default btn-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>