<div class="import-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Import file</h3>
            </div>
            <div class="modal-body">
                <input type="file" id="fileInput" accept=".json">
                <div class="file-drop-target">
                    Select a file or drop one here...
                </div>
                <div class="alert alert-error" style="margin-top:5px; text-align: center;font-weight: bold; overflow: hidden; text-overflow: ellipsis">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-import" disabled>Import...</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>