.decorator-with-ports {
  min-width: 65px;
  min-height: 40px;
  border: 2px solid black;
  background-color: #c5f1ff;
  padding: 3px;
  text-align: center;
  /*position: absolute;*/ }
  .decorator-with-ports .name {
    white-space: nowrap;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 121px;
    border-bottom: 1px solid #000000; }
  .decorator-with-ports .ports {
    /*background-color: $ports-background-color;*/
    font-size: 10px;
    min-height: 1px;
    width: 121px; }
    .decorator-with-ports .ports .left {
      /*background-color: $left-ports-background-color;*/
      display: inline-block;
      vertical-align: top;
      width: 50px;
      min-height: 1px; }
      .decorator-with-ports .ports .left .port {
        position: relative;
        left: -8px; }
    .decorator-with-ports .ports .center {
      /*background-color: $center-ports-background-color;*/
      width: 15px;
      height: 1px;
      display: inline-block;
      vertical-align: top; }
    .decorator-with-ports .ports .right {
      /*background-color: $right-ports-background-color;*/
      display: inline-block;
      vertical-align: top;
      width: 50px;
      min-height: 1px; }
  .decorator-with-ports .connector {
    box-sizing: border-box;
    background-color: #fefefe;
    height: 12px;
    width: 12px;
    position: absolute;
    cursor: pointer;
    border: 1px solid blue;
    margin-left: -6px;
    left: 50%; }
    .decorator-with-ports .connector:hover {
      border-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
    .decorator-with-ports .connector.connection-end-state-hover {
      background-color: lime; }
    .decorator-with-ports .connector.top {
      top: -6px; }
    .decorator-with-ports .connector.bottom {
      bottom: -6px; }

.selectable .decorator-with-ports {
  cursor: pointer; }

.selected .decorator-with-ports {
  border: 2px solid #52a8ec;
  background-color: #dbeafc; }
