<div class="repository-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xlg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <span class="title-container">
                    <span class="project-repository-title">Project Repository</span>
                    <select class="form-control selector">
                        <optgroup class="history-selector-group group-project" label="Project">
                            <option value="$allBranchesAndTags">All branches & tags</option>
                            <option value="$allBranches">All branches</option>
                            <option value="$allTags">All tags</option>
                            <option value="$commits">Recent commits</option>
                        </optgroup>
                        <optgroup class="history-selector-group group-branches" label="Branches">
                        </optgroup>
                        <optgroup class="history-selector-group group-tags" label="Tags">
                        </optgroup>
                    </select>
                </span>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button href="#" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>