<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>WebGME Merge Page</title>
    <!--<script src="js/merge/angular.min.js"></script>-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="dist/webgme.classes.build.js"></script>
    <script src="js/Merge/merge.js"></script>
    <script>
        <!-- function to start execution of scripts at load time -->
        function initializeMerge(){
            var params = window.location.toString().substr(window.location.toString().indexOf('?')+1),
                    i,config,timer = setInterval(function(){
                        console.warn('ecce...');
                        if(GME.classes.Storage && GME.classes.Core){
                            clearInterval(timer);
                            GME.merge.initialize(config);
                        }
                    },10);
            params = params.split('&');
            for(i=0;i<params.length;i++){
                params[i] = params[i].split('=');
            }
            config = {};
            //adding default parameters
            config.host = window.location.origin;
            for(i=0;i<params.length;i++){
                if(params[i].length === 2){
                    config[params[i][0]] = params[i][1];
                }
            }
        }
    </script>

</head>
<body onload="initializeMerge()" ng-controller="mergeController">
<div class = "btn-group btn-group-xs text-center" role="group">
    <button class={{getButtonClass(item.id,selectedItem)}} ng-click="selectItem(item.id)" ng-repeat="item in items">{{getButtonText(item.selected)}}</button>
</div>
<div class="row">
    <button class="btn btn-default btn-lg col-xs-2 col-xs-offset-3">mine</button>
    <button class="btn btn-default btn-lg col-xs-2 col-xs-offset-2">theirs</button>
</div>
<div class="row">
    <!-- TREE - MODEL - Separator - MODEL - TREE -->
    <div class="col-xs-2">
        <div class="row" ng-repeat="item in tree.mine">
            <label class={{item.class}}>{{item.name}}</label>
        </div>
    </div>
    <div class="col-xs-4">MY VIEW</div>
    <div class="col-xs-4">THEIR VIEW</div>
    <div class="col-xs-2">
        <div class="row" ng-repeat="item in tree.theirs">
            <label class={{item.class}}>{{item.name}}</label>
        </div>
    </div>
</div>
</body>
</html>