$background-image: url("../../img/metarel.png");

.icon-meta-containment {
  background-image: $background-image;
  background-position: 0px 0px;
}

.icon-meta-inheritance {
  background-image: $background-image;
  background-position: -14px 0px;
}

.icon-meta-set_validsource {
  background-image: $background-image;
  background-position: -28px 0px;
}

.icon-meta-set_validdestination {
  background-image: $background-image;
  background-position: -42px 0px;
}

.icon-meta-set_general {
  background-image: $background-image;
  background-position: -56px 0px;
}