.projects-dialog {
  .pre-body {
    padding: 15px 15px 0 15px;

    .tabContainer {
      ul.nav.nav-tabs {
        margin-bottom: 0;

        li {
          width: 86px;
          text-align: center;
        }
      }
    }
  }

  .modal-body {
    min-height: 300px;

    ul.nav-pills {
      li {
        a {
          span.ro {
            margin-left: 5px;
            color: #999999;
            font-size: 9px;
          }
        }
      }
    }
    table.table.table-projects {
      .info-hidden {
        display: none;
      }
      &.no-children {
        tr.with-children {
          display: none
        }
        tr.with-no-children {
          display: inherit;
          th {
            border-bottom: white;
            border-top: white;
            font-style: italic;
            padding-left: 20px;
            cursor: default;
          }
        }
      }

      thead {
        th {
          text-align: left;
          cursor: pointer;
          &.reverse-order {
            text-decoration: underline;
          }
          &.in-order {
            text-decoration: underline;
          }
          &.title-icons {
            text-align: right;
            padding: 0;
          }
        }
        tr.with-no-children {
          display: none;
        }
      }
      tbody.project-list {
        tr.project-row {
          &:hover {
            td {
              background-color: #f5f5f5;
            }
          }
          &.active {
            td {
              background-color: #a5afbe;
            }
            &:hover {
              td {
                background-color: #a5afbe !important;
              }
            }
          }
          &.read-only {
            td {
              opacity: 1;
              &.name {
                span.name-read-only {
                  display: unset;
                  color: grey;
                  padding-left: 0.5ex;
                }
              }
            }
          }
          &.filtered-out {
            display: none;
          }

          td {
            text-align: left;
            &.name {
              color: #3160ab;
              span.open-link {
                cursor: pointer;
                &:hover {
                  text-decoration: underline;
                  color: #ff7700;
                }
              }
              span.name-read-only {
                display: none;
              }
            }
            &.icons {
              text-align: right;
              i.delete-project {
                cursor: pointer;
                &:hover {
                  color: #b30404;
                }
              }
            }
            &.modified {
              font-style: italic;
              color: grey;
            }
            &.viewed {
              font-style: italic;
              color: grey;
            }
            &.created {
              font-style: italic;
              color: grey;
            }
          }
        }
      }
    }
  }
}

.txt-project-name {
  width: 50%;
}

a.btn-env {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}