.projects-dialog {
  .modal-content {
    &.in-background {
      opacity: 0;
      * {
        opacity: 0;
      }
    }
    .modal-header {
        .header-icon {
          height: 28px;
          width: 28px;
          margin-right: 1ex;
          display: inline-block;
          vertical-align: middle;
          background-size: 28px 28px;
        }
        span {
          font-size: 28px;
          vertical-align: middle;
        }
    }
    .pre-body {
      padding: 15px 15px 0 15px;

      .tabContainer {
        ul.nav.nav-tabs {
          margin-bottom: 0;

          li {
            width: 86px;
            text-align: center;
          }
        }
      }
    }

    .modal-body {
      min-height: 300px;

      ul.nav-pills {
        li {
          a {
            span.ro {
              margin-left: 5px;
              color: #999999;
              font-size: 9px;
            }
          }
        }
      }
      table.table.table-projects {
        .info-hidden {
          display: none;
        }
        &.no-children {
          tr.with-children {
            display: none
          }
          tr.with-no-children {
            display: inherit;
            th {
              border-bottom: white;
              border-top: white;
              font-style: italic;
              padding-left: 20px;
              cursor: default;
            }
          }
        }

        thead {
          th {
            text-align: left;
            cursor: pointer;
            border-bottom-width: 1px;
            &.reverse-order {
              i.sorted {
                &.rev-order {
                  display: inline-block;
                  visibility: visible;
                  font-size: 90%;
                  padding-left: 1px;
                }
                &.in-order {
                  display: none;
                }
              }
            }
            &.in-order {
              i.sorted {
                &.in-order {
                  display: inline-block;
                  visibility: visible;
                  font-size: 90%;
                  padding-left: 1px;
                }
                &.rev-order {
                  display: none;
                }
              }

            }
            i.sorted {
              visibility: hidden;
              display: inline-block;
              &.rev-order {
                display: none;
              }
            }
            &.title-icons {
              text-align: right;
              padding: 0;
            }
            &:hover {

            }
          }
          tr.with-no-children {
            display: none;
          }
        }
        tbody.project-list {
          tr.project-row {
            &:hover {
              td {
                background-color: #f5f5f5;
              }
            }
            &.active {
              td {
                background-color: #a5afbe;
              }
              &:hover {
                td {
                  background-color: #a5afbe !important;
                }
              }
            }
            &.read-only {
              td {
                opacity: 1;
                &.name {
                  span.name-read-only {
                    display: inline-block;
                    color: grey;
                    padding-left: 0.5ex;
                  }
                }
              }
            }
            &.filtered-out {
              display: none;
            }

            td {
              text-align: left;
              border-top: none;
              &.name {
                color: #3160ab;
                span.open-link {
                  cursor: pointer;
                  &:hover {
                    text-decoration: underline;
                    color: #ff7700;
                  }
                }
                span.name-read-only {
                  display: none;
                }
              }
              &.icons {
                text-align: right;
                i.delete-project {
                  cursor: pointer;
                  color: darkred;
                  &:hover {
                    color: #b30404;
                  }
                }
              }
              &.modified {
                font-style: italic;
                color: grey;
              }
              &.viewed {
                font-style: italic;
                color: grey;
              }
              &.created {
                font-style: italic;
                color: grey;
              }
            }
          }
        }
      }
    }

    .modal-footer {
      button.corner-button {
        margin-top: 0.5ex;
      }
      ul.dropdown-menu {
        min-width: 0;
        text-align: left;
        a {
          cursor: pointer;
        }
      }
    }
  }
}

.txt-project-name {
  width: 50%;
}