@import "../../../js/Widgets/DiagramDesigner/styles/Connector";

$selected-background-color: rgba(219, 234, 252, 0.5);

.designer-item {
  .modelica-decorator {
    text-align: center;

    .connector {
      @include connector_basics;

      //margin-left: $connector-size / -2;
      left: 50%;

      &.top {
        top: $connector-size / -2;
      }

      &.bottom {
        bottom: $connector-size / -2;
      }


      .port_info
      {
        z-index: 10;
        display: none;
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 8px;
        background-color: rgb(239, 240, 246);
        border: 1px solid rgb(143, 143, 143);
        border-radius: 5px;

        .name
        {
          color: black;
          font-weight: bold;
        }

        .class_name
        {
          color: rgb(255, 58, 58);
          font-weight: bold;
        }

        .desc
        {
          color: rgb(0, 128, 0);
        }

        .class_desc
        {
          color: rgb(0, 128, 0);
        }

      }
    }

    .connector:hover
    {
      .port_info {
        display: block;
      }
    }

    // EXTRA
    .svg-container {
      //position: absolute;
    }

    .connector-container {
      position: absolute;
      top: 0px;
      left: 0px;
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
    }

  }

  &.selected {
    .modelica-decorator {
      background-color: $selected-background-color;
    }
  }
}
