<div class="code-editor-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xlg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="mode-selector">
                    mode: <select id="mode_select">
                </select>
                </div>
                <button type="button" class="close" data-dismiss="modal">×</button>
                <i class="header-icon"></i><span class="title-text">Edit</span>
            </div>
            <div class="modal-body">
                <textarea id="codemirror-area" autofocus></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-save">Save</button>
                <button class="btn btn-primary btn-ok">Save and close</button>
                <button class="btn btn-default btn-cancel">Close</button>
            </div>
        </div>
    </div>
</div>